<div class="card-panel" *ngIf="show">
	<div class="center-align">
		<p>An error occured on the server request cant be process, please try again. If error persist contact the app admin </p>
		 <button class="btn" (click)="retry()">Retry</button>
	</div>
</div>