<div class="card-panel report-panel near-loading">
	<form [formGroup]="hemForm">
		<section [ngClass]="{'active':activePane===0}" class="input-section animated fadeIn">
			<h5 class="card-title">Basic Test information</h5>
			<div class="row">
				<div class="col m4">
					<div class="input-field">
						 <select (change)="onPatientSelected($event)" class="validate"  formControlName="patient_id" required>
						 	<option value="" ></option>
						 	
						     <option value="new">Add new patient</option>
						     <option disabled *ngIf="loadingPatients">Loading patients please wait</option>
						     <option value="retry"  *ngIf="errorOccurred" >An error occurred, click here to retry loading patients</option>
							 <option *ngFor="let patient of patients" value="{{patient.id}}">{{patient.first_name+' '+patient.middle_name+' '+patient.surname }}</option>}
							option
					    </select>
    					<label>Select patient</label>
					</div>
				</div>
				<div class="col m4">
					<div class="input-field">
						<input type="text" id="requested-by" formControlName="requested_by" class="validate" required>
						<label for="requested-by">Requested By</label>
					</div>
				</div>
				<div class="col m4">
					<div class="input-field">
						<input type="text" id="clinical-detail" formControlName="clinical_detail">
						<label for="clinical-detail">Clinical Detail</label>
					</div>
				</div>
				<div class="col m4">
					<div class="input-field">
						<input type="text" id="exam-required" formControlName="exam_required">
						<label for="exam-required">Exam Required</label>
					</div>
				</div>
				<div class="col m4">
					<div class="input-field">
						<input type="text" id="specimen" formControlName="specimen">
						<label for="specimen">Specimen</label>
					</div>
				</div>
				<div class="col m4">
					<div class="input-field">
						<input type="text" id="clinic" formControlName="clinic">
						<label for="clinic">Clinic</label>
					</div>
				</div>
			</div>
		</section>

		 <section [ngClass]="{'active':activePane===1}" class="input-section animated fadeIn">
                     <div class="row">
                         <div class="col m3">
                             <div class="input-field">
                                 <input type="text" id="hb" formControlName="hb">
                                 <label for="hb">Hb(g/dl)</label>
                                 <span class="helper-text" data-error="wrong" data-success="right">Normal 11 - 17.5</span>
                             </div>
                         </div>
                         <div class="col m3">
                             <div class="input-field">
                                 <input type="text" id="pcv" formControlName="pcv">
                                 <label for="pcv">PCV/HCT(%)</label>
                                 <span class="helper-text" data-error="wrong" data-success="right">Normal 40 - 54</span>
                             </div>
                         </div>
                         <div class="col m3">
                             <div class="input-field">
                                 <input type="text" id="rbc" formControlName="rbc">
                                 <label for="rbc">RBC(X10<sup>12</sup>/1)</label>
                                 <span class="helper-text" data-error="wrong" data-success="right">Normal 4.5 - 5.5</span>
                             </div>
                         </div>
                         <div class="col m3">
                             <div class="input-field">
                                 <input type="text" id="mcv" formControlName="mcv">
                                 <label for="mcv">MCV(F1)</label>
                                 <span class="helper-text" data-error="wrong" data-success="right">Normal 76 - 93</span>
                             </div>
                         </div>
                         <div class="col m3">
                             <div class="input-field">
                                 <input type="text" id="mch" formControlName="mch">
                                 <label for="mch">MCH(Pg)</label>
                                 <span class="helper-text" data-error="wrong" data-success="right">Normal 27 - 31</span>
                             </div>
                         </div>
                         <div class="col m3">
                             <div class="input-field">
                                 <input type="text" id="mchc" formControlName="mchc">
                                 <label for="mchc">MCHC(g/dl)</label>
                                 <span class="helper-text" data-error="wrong" data-success="right">Normal 31 - 35</span>
                             </div>
                         </div>
                         <div class="col m3">
                             <div class="input-field">
                                 <input type="text" id="wbc" formControlName="wbc">
                                 <label for="wbc">WBC(X 10<sup>9</sup>/1)</label>
                                 <span class="helper-text" data-error="wrong" data-success="right">Normal 3 - 13.0</span>
                             </div>
                         </div>
                         <div class="col m3">
                             <div class="input-field">
                                 <input type="text" id="platelets" formControlName="platelets">
                                 <label for="platelets">PLATELETS(X 10<sup>9/</sup>10)</label>
                                 <span class="helper-text" data-error="wrong" data-success="right">Normal 100 - 300</span>
                             </div>
                         </div>
                         <div class="col m3">
                             <div class="input-field">
                                 <input type="text" id="retics" formControlName="retics">
                                 <label for="retics">RETICS(%)</label>
                                 <span class="helper-text" data-error="wrong" data-success="right">Normal 0.2 - 2</span>
                             </div>
                         </div>

                         <div class="col m3">
                             <div class="input-field">
                                 <input type="text" id="westergren" formControlName="esr">
                                 <label for="westergren">ESR(westergren)</label>
                                 <span class="helper-text" data-error="wrong" data-success="right">Normal 5.7mm in 1 Hr</span>
                             </div>
                         </div>
                     </div>
                 </section>
                 <section [ngClass]="{'active':activePane===2}" class="input-section animated fadeIn" >
                     <h6>Differentials(%)</h6>

                     <div class="row">
                         <div class="col m3">
                             <div class="input-field">
                                 <input type="text" id="neut" formControlName="nuet">
                                 <label for="neut">NUET</label>
                                 <span class="helper-text" data-error="wrong" data-success="right">Normal 40 - 75</span>
                             </div>
                         </div>
                         <div class="col m3">
                             <div class="input-field">
                                 <input type="text" id="lymp" formControlName="lymp">
                                 <label for="lymp">LYMP</label>
                                 <span class="helper-text" data-error="wrong" data-success="right">Normal 20 - 45</span>
                             </div>
                         </div>
                         <div class="col m3">
                             <div class="input-field">
                                 <input type="text" id="mono" formControlName="mono">
                                 <label for="mono">MONO</label>
                                 <span class="helper-text" data-error="wrong" data-success="right">Normal 2 - 10</span>
                             </div>
                         </div>
                         <div class="col m3">
                             <div class="input-field">
                                 <input type="text" id="eosino" formControlName="eosino">
                                 <label for="eosino">EOSINO</label>
                                 <span class="helper-text" data-error="wrong" data-success="right">Normal 0 - 2</span>
                             </div>
                         </div>
                         <div class="col m3">
                             <div class="input-field">
                                 <input type="text" id="baso" formControlName="baso">
                                 <label for="baso">BASO</label>
                             </div>
                         </div>
                         <div class="col m3">
                             <div class="input-field">
                                 <input type="text" id="blast" formControlName="blast">
                                 <label for="blast">Blast</label>
                             </div>
                         </div>
                         <div class="col m3">
                             <div class="input-field">
                                 <input type="text" id="promvelo" formControlName="promvelo">
                                 <label for="promvelo">Promvelo</label>
                             </div>
                         </div>
                         <div class="col m3">
                             <div class="input-field">
                                 <input type="text" id="myelo" formControlName="myelo">
                                 <label for="myelo">Myelo</label>
                             </div>
                         </div>
                         <div class="col m3">
                             <div class="input-field">
                                 <input type="text" id="matemye" formControlName="matemye">
                                 <label for="matemye">Matemye</label>
                             </div>
                         </div>
                         <div class="col m3">
                             <div class="input-field">
                                 <input type="text" id="band" formControlName="band">
                                 <label for="band">Band</label>
                             </div>
                         </div>
                         <div class="col m3">
                             <div class="input-field">
                                 <input type="text" id="normob" formControlName="normod">
                                 <label for="normob">Normob</label>
                             </div>
                         </div>
                     </div>
                 </section>
                 <section [ngClass]="{'active':activePane===3}" class="input-section animated fadeIn">
                     <h6>Coagulation Tests</h6>
                     <div class="row">
                         <div class="col m6">
                             <div class="input-field">
                                 <input type="text" id="bleeding" formControlName="bleeding_time">
                                 <label for="bleeding">Bleeding Time </label>
                                 <span class="helper-text" data-error="wrong" data-success="right">Normal 2 - 7 secs</span>
                             </div>
                         </div>

                         <div class="col m6">
                             <div class="input-field">
                                 <input type="text" id="clotting" formControlName="clotting_time">
                                 <label for="clotting">Clotting Time </label>
                                 <span class="helper-text" data-error="wrong" data-success="right">Normal 5 - 11 secs</span>
                             </div>
                         </div>

                         <div class="col m6">
                             <div class="input-field">
                                 <input type="text" id="prothrombin" formControlName="prothrobin_time">
                                 <label for="prothrombin">Prothrobin Time </label>
                                 <span class="helper-text" data-error="wrong" data-success="right">Normal 11 - 14 secs</span>
                             </div>
                         </div>

                         <div class="col m6">
                             <div class="input-field">
                                 <input type="text" id="partial-prothrombin" formControlName="partial_prothrobin_time">
                                 <label for="partial-prothrombin">Partial Prothrobin Time </label>
                                 <span class="helper-text" data-error="wrong" data-success="right">Normal 30 - 40 secs</span>
                             </div>
                         </div>
                     </div>
                 </section>
                 <section [ngClass]="{'active':activePane===4}" class="input-section animated fadeIn">
                     <div class="row">
                         <div class="col m4">
                             <div class="input-field">
                                 <input type="text" id="blood-group" formControlName="blood_group">
                                 <label for="blood-group">Blood group </label>
                             </div>
                         </div>

                         <div class="col m4">
                             <div class="input-field">
                                 <input type="text" id="hb-genotype" formControlName="hb_genotype">
                                 <label for="hb-genotype">HB Genotype </label>
                             </div>
                         </div>

                         <div class="col m4">
                             <div class="input-field" >
                                 <input type="text" id="cross-matching" formControlName="cross_matching">
                                 <label for="cross-matching">Cross matching </label>
                             </div>
                         </div>
                     </div>
                 </section>
                 <section [ngClass]="{'active':activePane===5}" class="input-section animated fadeIn">
                     <h6>ELECTROPHORESIS</h6>
                     <div class="input-field">
                         <input type="text" id="film-report" formControlName="film_report">

                         <label for="film-report">Film Report</label>
                     </div>
                     <div class="input-field">
                         <input type="text" id="lab-scientist" formControlName="lab_scientist">
                         <label for="lab-scientist">Medical Lab. Scientist</label>
                     </div>
                     <h6>
                         G6PD Test
                     </h6>
                     <div class="row">
                         <div class="col m6">
                             <div class="input-field">
                                 <input type="text" id="screening" formControlName="screening">
                                 <label for="screening">Screening</label>
                             </div>
                         </div>

                         <div class="col m6">
                             <div class="input-field">
                                 <input type="text" id="quantitative" formControlName="quantitative">
                                 <label for="quantitative">Quantitative</label>
                             </div>
                         </div>
                     </div>
                 </section >
	</form>
</div>
 <div class="action-buttons">
    <div class="row">
      <div class="col s1">
        <button (click)="prevPane()"  *ngIf="showPrevBtn" type="button" class="btn btn-large waves-effect">Previous</button>
      </div>
      <div class="col offset-s8 s3">
        <button type="button" *ngIf="showNextBtn" class="btn btn-large waves-effect" id="next-btn" (click)="nextPane()" >Next</button>
        <button type="button" *ngIf="showSave" class="btn btn-large waves-effect" [disabled]="saving"  (click)="handleSubmit($event)" >{{saveBtnText}}</button>
      </div>

    </div>
  </div>
