<header class="navbar-fixed">

  <nav>
    <div class="nav-wrapper">
     
      <div class="row">
      	 <div class="col m2">
      	 <!-- 	<button class="toggle waves-effect"><i class="material-icons">dehaze</i></button>
            <button class="toggle waves-effect"><i class="material-icons">search</i></button>
      	 --> </div>
         <div class="col m1 offset-m6" style="padding-top:20px; padding-left:80px">
           <div class="preloader-wrapper small active" *ngIf="loggingOut" >
              <div class="spinner-layer">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>





         </div>
      	 <div class="col m1 ">
      	 	<div>
      	 		<button class="toggle waves-effect dropdown-trigger"  data-target='account' ><i class="material-icons">account_circle</i></button>	
  				<ul id='account' class='dropdown-content'>
				    <!-- <li (click)='changePassword()'><a>Change Password</a></li> -->
				    <li (click)='logOut()'><a>Log out</a></li>
				</ul>
  			</div>
      	 </div>
      </div>
    </div>
  </nav>
</header>

<div  class="modal" #passwordModal>
    <div class="modal-content">
      <h4>Change Password</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>