<app-title-panel title="Haematology Reports">
    <li class="breadcrumb-item"><a [routerLink]="['/dashboard']" >Dashboard</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/haematology/reports']">Haematology report</a> </li>
</app-title-panel>
<div class="page-content">

 


     <app-loading [showLoading]='loading'></app-loading>
     <connection-error [show]="!loading && conError " [retryCb]="getReports"></connection-error>
     <server-error [show]="serverError && !loading" [retryCb]="getReports"></server-error>
     <app-linear-loading [showLoading]="deleting"></app-linear-loading>
     <no-record [show]='matDatasource.data.length==0 && !loading && !conError && !serverError'>There is currently no haematology report</no-record>

    <div class="card-panel near-loading" *ngIf="matDatasource.data.length>0 && !loading && !conError && !serverError">
        <div class="header">
            <div class="row">
                <div class="col m3 offset-m9">
                    <div class="input-field" *ngIf="reports?.length>0">
                        <input type="text" id="filter" (keyup)="filterTable($event.target.value)">
                        <label for="filter">Filter</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-contents">
            <div class="wrapper animated fadeIn">
            <table mat-table [dataSource]="matDatasource" matSort *ngIf="matDatasource.data.length!==0">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let report"> {{report.id}} </td>
                </ng-container>


                <ng-container matColumnDef="patient_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Patient Name </th>
                    <td mat-cell *matCellDef="let report"> {{report.patient.first_name+' '+report.patient.surname}} </td>
                </ng-container>

                <ng-container matColumnDef="exam_required">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Exam Required </th>
                    <td mat-cell *matCellDef="let report"> {{report.exam_required}} </td>
                </ng-container>

                <ng-container matColumnDef="specimen">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Specimen </th>
                    <td mat-cell *matCellDef="let report"> {{report.specimen}} </td>
                </ng-container>

                <ng-container matColumnDef="createdOn">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Created On </th>
                    <td mat-cell *matCellDef="let report"> {{report.created_at | date:mediumDate }} </td>
                </ng-container>


                 <ng-container matColumnDef="view">
                    <th mat-header-cell *matHeaderCellDef > View Details</th>
                    <td mat-cell *matCellDef="let report"> <a [routerLink]="['/haematology/reports/'+report.id]">View Details</a> </td>
                </ng-container>

                 <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef> Edit </th>
                    <td mat-cell *matCellDef="let report"> <a [routerLink]="['/haematology/edit/'+report.id]"class="btn green accent-3"><i class="material-icons">edit</i></a> </td>
                </ng-container>

                 <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef> Delete </th>
                    <td mat-cell *matCellDef="let report;  let i = index"><button (click)="deleteReport(report.id,i)" [disabled]="deleting" class="btn red accent-3"><i class="material-icons">delete</i></button></td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>


               
            </table>
             <mat-paginator [pageSize]="10" 
                            [pageSizeOptions]="[5, 10, 20]" 
                            showFirstLastButtons
                            *ngIf="matDatasource.data.length!==0"
                            >
                                
             </mat-paginator>


            </div>
        </div>
    </div>


</div>
