<app-title-panel title="Haematology Report details">
    <li class="breadcrumb-item"><a [routerLink]="['/dashboard']" >Dashboard</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/haematology/reports/']">Haematology reports</a> </li>
</app-title-panel>
<div class="page-content">

 

    <connection-error [show]="conError" [retryCb]="getReport"></connection-error>
    <server-error [show]="serverError" [retryCb]="getReport"></server-error>
    <app-loading [showLoading]="loadingReport" loadingInfo="Loading report data please wait" ></app-loading>

    <div class="card-panel" *ngIf="!loadingReport && !conError && !serverError">
        <app-printed-page>
            <div class="view-report-table">
                <table class="browser-default">
                    <thead>
                    <tr>
                        <th colspan="9">Haematology Report Form</th>
                        <th>Lab No.:   {{ report?.lab_id }}</th>
                    <tr>
                        <td colspan="4">
                            <label>Surname</label><br>
                            {{ report.patient.surname }}
                        </td>
                        <td>
                            <label>Other Name</label><br>
                            {{ report?.patient?.first_name+ ' '+ report?.patient.middle_name}}
                        </td>
                        <td>
                            <label>Age</label><br>
                            {{ report?.patient?.age}}
                        </td>
                        <td>
                            <label>Sex</label><br>
                            {{ report?.patient?.sex}}
                        </td>
                        <td>
                            <label>Date</label><br>
                            {{report?.patient?.created_at | date:mediumDate}}
                        </td>
                        <td>
                            <label>Time</label><br>
                            {{ report?.created_at | date:shortTime }}
                        </td>
                        <td>
                            <label>Requested By</label><br>
                            {{ report?.requested_by }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <label>Clinical Details</label><br>
                             {{ report?.clinical_detail }}

                        </td>
                        <td colspan="3">
                            <label>Exam Required</label><br>
                            {{ report?.exam_required }}
                        </td>
                        <td colspan="2">
                            <label>Specimen</label><br>
                            {{ report?.specimen }}
                        </td>
                        <td colspan="1">
                            <label>Clinic</label><br>
                            {{report?.clinic}}
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td></td>
                        <!--<td><i class="material-icons">check_square</i></td>-->
                        <td></td>
                        <th>Unit</th>
                        <th>Test</th>
                        <th>Normal</th>
                        <td></td>
                        <td colspan="5"></td>
                    </tr>
                    <tr>
                        <td width="4%"><i class="material-icons" *ngIf="report?.hb!=''">check</i> </td>
                        <td>hb</td>
                        <td>g/dl</td>
                        <td width="8%">{{ report?.hb}}</td>
                        <td>11 - 17.5</td>
                        <td width="4%"><i class="material-icons" *ngIf="report?.blood_group!='' ">check</i></td>
                        <td colspan="2">Blood group</td>
                        <td colspan="3">{{ report?.blood_group }}</td>
                    </tr>
                    <tr>
                        <td width="4%"><i class="material-icons" *ngIf="report?.pcv!=''">check</i> </td>
                        <td>PCV/HCT</td>
                        <td>%</td>
                        <td width="8%">{{ report?.pcv}}</td>
                        <td>40 - 54</td>
                        <td width="4%"><i class="material-icons" *ngIf="report?.hb_genotype!='' ">check</i></td>
                        <td colspan="2">Hb Genotype</td>
                        <td colspan="3">{{ report?.hb_genotype }}</td>
                    </tr>
                    <tr>
                        <td width="4%"><i class="material-icons" *ngIf="report?.rbc!=''">check</i> </td>
                        <td>RBC</td>
                        <td>X10<sup>12</sup>/1</td>
                        <td width="8%">{{ report?.rbc}}</td>
                        <td>4.5 - 5.5</td>
                        <td width="4%"><i class="material-icons" *ngIf="report?.cross_matching!='' ">check</i></td>
                        <td colspan="2">Cross matching</td>
                        <td colspan="3">{{ report?.cross_matching }}</td>
                    </tr>
                    <tr>
                        <td width="4%"><i class="material-icons" *ngIf="report?.mcv!=''">check</i> </td>
                        <td>MCV</td>
                        <td>F1</td>
                        <td width="8%">{{ report?.mcv}}</td>
                        <td>76 - 93 </td>
                        <td rowspan="20" colspan="6">
                            <div class="title-t">
                                <h6>Electrophoresis</h6>
                                <h6><u>Film Report:</u></h6>
                                <p>{{report?.film_report}}</p>



                                <div style="padding-top:100px;">
                                    
                                <P><strong>Sign........................................</strong>
                                <p><strong>Medical Lab.Scientist: </strong> {{report?.lab_scientist}}</p>
                                </div>
                            </div>



                        </td>
                    </tr>
                    <tr>
                        <td width="4%"><i class="material-icons" *ngIf="report?.mch!=''">check</i> </td>
                        <td>MCH</td>
                        <td>Pg</td>
                        <td width="8%">{{ report?.mch}}</td>
                        <td>27 - 31 </td>

                    </tr>
                    <tr>
                        <td width="4%"><i class="material-icons" *ngIf="report?.mchc!=''">check</i> </td>
                        <td>MCHC</td>
                        <td>g/dl</td>
                        <td width="8%">{{ report?.mchc}}</td>
                        <td>31 - 35 </td>

                    </tr>
                    <tr>
                        <td width="4%"><i class="material-icons" *ngIf="report?.wbc!=''">check</i> </td>
                        <td>WBC</td>
                        <td>X10<sup>9</sup>/1</td>
                        <td width="8%">{{ report?.wbc}}</td>
                        <td>3.0 - 13.0 </td>

                    </tr>
                    <tr>
                        <td width="4%"><i class="material-icons" *ngIf="report?.platelets!=''">check</i> </td>
                        <td>Platelets</td>
                        <td>X10<sup>9</sup>/1</td>
                        <td width="8%">{{ report?.platelets}}</td>
                        <td>76 - 93 </td>

                    </tr>
                    <tr>
                        <td width="4%"><i class="material-icons" *ngIf="report?.retics!=''">check</i> </td>
                        <td>Retics</td>
                        <td>%</td>
                        <td width="8%">{{ report?.retics}}</td>
                        <td>0.2 - 0.3 </td>

                    </tr>
                    <tr>
                        <td width="4%"><i class="material-icons" *ngIf="report?.esr!=''">check</i> </td>
                        <td>ESR</td>
                        <td>Westergren</td>
                        <td width="8%">{{ report?.esr}}</td>
                        <td>5.7 mm in 1Hr </td>

                    </tr>
                    <tr>
                        <th colspan="4">DIFFERENTIALS(%)</th>
                        <td colspan="1"></td>

                    </tr>
                    <tr>
                        <th colspan="3"></th>
                        <th>Test</th>
                        <th>Normal</th>
                    </tr>

                    <tr>
                        <td colspan="3">NUET</td>
                        <td width="8%">{{ report?.nuet}}</td>
                        <td>40 - 75 </td>

                    </tr>
                    <tr>
                        <td colspan="3">LYMP</td>
                        <td width="8%">{{ report?.lymp}}</td>
                        <td>20 - 45 </td>

                    </tr>
                    <tr>
                        <td colspan="3">MONO</td>
                        <td width="8%">{{ report?.mono}}</td>
                        <td>2 - 10 </td>

                    </tr>
                    <tr>
                        <td colspan="3">EOSINO</td>
                        <td width="8%">{{ report?.eosino}}</td>
                        <td>0 - 2 </td>

                    </tr>
                    <tr>
                        <td colspan="3">Blast</td>
                        <td width="8%">{{ report?.blast}}</td>
                        <td></td>

                    </tr>
                    <tr>
                        <td colspan="3">Promvelo</td>
                        <td width="8%">{{ report?.promvelo}}</td>
                        <td></td>

                    </tr>
                    <tr>
                        <td colspan="3">Myelo</td>
                        <td width="8%">{{ report?.myelo}}</td>
                        <td></td>

                    </tr>
                    <tr>
                        <td colspan="3">Matemye</td>
                        <td width="8%">{{ report?.matemye}}</td>
                        <td></td>

                    </tr>
                    <tr>
                        <td colspan="3">Band</td>
                        <td width="8%">{{ report?.band}}</td>
                        <td></td>

                    </tr>
                    <tr>
                        <td colspan="3">Normod</td>
                        <td width="8%">{{ report?.normod}}</td>
                        <td></td>

                    </tr>
                    <tr>
                        <th colspan="5">
                            Coagulation Tests
                        </th>
                    </tr>
                    <tr>
                        <th colspan="3"></th>
                        <th>Test</th>
                        <th>Normal</th>
                        <th></th>
                        <th colspan="4" >G6PD TEST</th>
                    </tr>
                    <tr>
                        <td width="4%"><i class="material-icons" *ngIf="report?.bleeding_time!=''">check</i> </td>
                        <td colspan="2">Bleeding time</td>
                        <td>{{ report?.bleeding_time }}</td>
                        <td>2 - 7 secs</td>
                        <td class="no-border"></td>
                        <td colspan="2">
                            Screening
                        </td>
                        <td colspan="2">
                            {{report?.screening}}
                        </td>

                    </tr>
                    <tr>
                        <td width="4%"><i class="material-icons" *ngIf="report?.clotting_time!=''">check</i> </td>
                        <td colspan="2">Clotting time</td>
                        <td>{{ report?.clotting_time }}</td>
                        <td>5 - 11 secs</td>
                        <td class="no-border"></td>
                        <td colspan="2">
                            Qualitative
                        </td>
                        <td colspan="2">
                            {{report?.quantitative}}
                        </td>
                    </tr>
                    <tr>
                        <td width="4%"><i class="material-icons" *ngIf="report?.prothrobin_time!=''">check</i> </td>
                        <td colspan="2">Prothrobin time</td>
                        <td>{{ report?.prothrobin_time }}</td>
                        <td>11 - 14 secs</td>
                    </tr>
                    <tr>
                        <td width="4%"><i class="material-icons" *ngIf="report?.partial_prothrobin_time!=''">check</i> </td>
                        <td colspan="2">Partial Prothrobin time</td>
                        <td>{{ report?.partial_prothrobin_time }}</td>
                        <td>30 - 40 secs</td>
                    </tr>


                    </tbody>
                </table>
            </div>
        </app-printed-page>


    </div>
</div>