<app-title-panel title="New Haematology report">
  <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Dashboard</a></li>
  <li class="breadcrumb-item"><a [routerLink]="['haematology/new']">New Haematology report</a> </li>
</app-title-panel>
<app-modal></app-modal>
<div class="page-content">
	<app-linear-loading [showLoading]="saving"></app-linear-loading>
	<hem-report-form [saving]="saving"  (submit)="onSubmit($event)"></hem-report-form>
</div> 
