<app-title-panel title="New Medical Microbiology and Parasitology report">
    <li class="breadcrumb-item"><a [routerLink]="['/dashboard']" >Dashboard</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/medical-microbiology-and-parasitology/new']">New Medical Microbiology and Parasitology report</a> </li>
</app-title-panel>
<div class="page-content">
	<app-linear-loading [showLoading]="saving"></app-linear-loading>
	<med-microbiology-form [saving]="saving" (submit)="onSubmit($event)"></med-microbiology-form>
</div> 
<app-modal></app-modal>