<app-title-panel title="Radiological Request">
    <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Dashboard</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/radiological-request/requests']">Radiological Requests</a> </li>
</app-title-panel>
<div class="page-content">
	 <div *ngIf="deleting" class="progress" style="margin: 0">
         <div class="indeterminate"></div>
     </div>
    <div class="card-panel" style="margin-top: 0">
        <div class="header">
            <div class="row">
                <div class="col m3 offset-m9">
                    <div class="input-field" *ngIf="requests?.length>0">
                        <input type="text" id="filter" (keyup)="filterTable($event.target.value)">
                        <label for="filter" >Filter</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-contents">
            <div class="center-align" *ngIf="matDatasource.data.length!==0">
                <p class="info-text">There currently no request</p>
            </div>

            <div class="center-align" *ngIf="!loadingRequests && errorOccurred">
                <p class="info-text">An error occurred requests could not be loaded</p>
                <button class="btn" (click)="getRequests()">Try Again</button>
            </div>
            <app-loading [showLoading]='loadingRequests'></app-loading>



           





            <div class="wrapper animated fadeIn">

            <table mat-table [dataSource]="matDatasource" matSort *ngIf="matDatasource.data.length!==0">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let request"> {{request.id}} </td>
                </ng-container>


                <ng-container matColumnDef="patient_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Patient Name </th>
                    <td mat-cell *matCellDef="let request"> {{request.first_name+' '+request.surname}} </td>
                </ng-container>

                <ng-container matColumnDef="age">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Age </th>
                    <td mat-cell *matCellDef="let request"> {{request.age}} </td>
                </ng-container>

                <ng-container matColumnDef="sex">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Sex </th>
                    <td mat-cell *matCellDef="let request"> {{request.sex}} </td>
                </ng-container>

                 <ng-container matColumnDef="view">
                    <th mat-header-cell *matHeaderCellDef > View Details</th>
                    <td mat-cell *matCellDef="let request"> <a [routerLink]="['/radiological-request/requests/'+request.id]">View Details</a> </td>
                </ng-container>

                 <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef> Edit </th>
                    <td mat-cell *matCellDef="let request"> <a [routerLink]="['/radiological-request/edit/'+request.id]"class="btn green accent-3"><i class="material-icons">edit</i></a> </td>
                </ng-container>

                 <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef> Delete </th>
                    <td mat-cell *matCellDef="let request"><button (click)="deleteRequest(request.id,i)" [disabled]="deleting" class="btn red accent-3"><i class="material-icons">delete</i></button>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>


               
            </table>
             <mat-paginator [pageSize]="10" 
                            [pageSizeOptions]="[5, 10, 20]" 
                            showFirstLastButtons
                            *ngIf="matDatasource.data.length!==0"
                            ></mat-paginator>
        
            </div>
        </div>
    </div>
</div>
