<app-title-panel title="Chemical Pathology Edit">
    <li class="breadcrumb-item"><a [routerLink]="['/dashboard']" >Dashboard</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/chemical-pathology/reports']">Chemical Pathology reports</a> </li>
</app-title-panel>
<div class="page-content">
   <app-linear-loading [showLoading]="saving"></app-linear-loading>

   <connection-error [show]="conError" [retryCb]="getReport"></connection-error>
    <server-error [show]="serverError" [retryCb]="getReport"></server-error>
    <app-loading [showLoading]="loadingReport" loadingInfo="Loading report data please wait" ></app-loading>
   <chemical-pathology-form [saving]="saving"  [report]='report' *ngIf="!loadingReport && !conError && !serverError"   (submit)="onSubmit($event)" saveBtnText="Update Report"></chemical-pathology-form>
</div>
