<app-title-panel title="Medical Microbiology and Parasitology report details">
	<li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Dashboard</a></li>
	<li class="breadcrumb-item"><a [routerLink]="['/medical-microbiology-and-parasitology/reports/']">Medical Microbiology and Parasitology reports</a> </li>
</app-title-panel>
<div class="page-content">


    <connection-error [show]="conError" [retryCb]="getReport"></connection-error>
    <server-error [show]="serverError" [retryCb]="getReport"></server-error>
    <app-loading [showLoading]="loadingReport" loadingInfo="Loading report data please wait" ></app-loading>

    <app-printed-page>
	<div class="card-panel" *ngIf="!loadingReport && !conError && !serverError">
			<div class="view-report-table  medical-microb">
				<table >
					<thead>
						<tr>
							<th colspan="6" class="test-title">MEDICAL MICROBIOLOGY AND PARASITOLOGY</th>
							<th>LAB NO.: {{report?.lab_id}} </th>
						</tr>
						<tr>
							<td>
								<label>Surname</label><br>
								{{report?.patient?.surname}}
							</td>
							<td>
								<label>Other Names</label><br>
								{{report?.patient?.first_name+' '+report?.patient?.middle_name}}
							</td>
							<td>
								<label>Age</label><br>
								{{report?.patient?.age}}
							</td>
							<td>
								<label>Sex</label><br>
								{{report?.patient?.sex}}
							</td>
							<td>
								<label>Date</label><br>
								{{report?.created_at | date:mediumDate }}
							</td>
							<td>
								<label>Clinic</label><br>
								{{report?.clinic}}
							</td>
							<td>
								<label>Requested By</label><br>
								{{report?.requested_by}}
							</td>
						</tr>
						<tr>
							<td>
								<label>Clinical Detail</label><br>
								{{report?.clinical_detail}}
							</td>
							<td colspan="2">
								<label>Exam Required</label><br>
								{{report?.exam_required}}
							</td>
							<td colspan="2">
								<label>Specimen</label><br>
								{{report?.specimen}}
							</td>
							<td colspan="2">
								<label>Current Antibiotics Therapy</label><br>
								{{report?.antibiotic_therapy}}
							</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="2">
								<p><strong>Microscopy: </strong>{{report?.macroscopy==''?'.................................................':report.macroscopy}}</p>
								<p><strong>Cell Count: </strong>{{report?.cell_count==''?'.................................................':report.cell_count}}</p>
								<p><strong>Differential WBC: </strong>{{report?.differential_wbc==''?'..................':report.differential_wbc}}</p>
								<h6>Wet Preparation (HPF)</h6>
								<p><strong>Pus Cells: </strong>{{report?.pus_cell==''?'.........':report.pus_cell}}</p>
								<p><strong>RBC: </strong>{{report?.rbc==''?'.........':report.rbc}}</p>
								<p><strong>Epithelial Cells: </strong>{{report?.epithelial_cell==''?'..............':report.epithelial_cell}}</p>
								<h6>Gramstain</h6>
								<p><strong>Pus Cell: </strong>{{report?.gram_pus_cell==''?'.........':report.gram_pus_cell}}</p>
								<p><strong>G +Ve COCCI: </strong>{{report?.gve_ccoci_pos==''?'.........':report.gve_ccoci_pos}}</p>
								<p><strong>G +Ve RODS: </strong>{{report?.gve_rods_pos==''?'.........':report.gve_rods_pos}}</p>
								<p><strong>G -Ve COCCI: </strong>{{report?.gve_ccoci_neg==''?'.........':report.gve_ccoci_neg}}</p>
								<p><strong>G -Ve RODS: </strong>{{report?.gve_rods_neg==''?'.........':report.gve_rods_neg}}</p>
								<p><strong>Epithelial cells: </strong>{{report?.gram_epithelial_cell==''?'.........':report.gram_epithelial_cell}}</p>
								<p><strong>ZN STAIN:</strong>
									<p><strong>Pus cell: </strong>{{report?.zn_stain_pus_cell==''?'.........':report.zn_stain_pus_cell}}</p>
									<p><strong>AFB x1: </strong>{{report?.zn_stain_afb_x1==''?'.........':report.zn_stain_afb_x1}}</p>
									<p><strong>AFB x2: </strong>{{report?.zn_stain_afb_x2==''?'.........':report.zn_stain_afb_x2}}</p>
									<p><strong>AFB x3: </strong>{{report?.zn_stain_afb_x3==''?'.........':report.zn_stain_afb_x3}}</p>
								</td>
								<td colspan="3">
									<h6><u>SEMEM ANALYSIS</u></h6>
									<p>
										<strong>Production/Test Time: </strong>
										{{report?.test_time==''?'...............':report.test_time}}
										<strong>Abstinence: </strong>
										{{report?.abstinence==''?'..............':report.abstinence}}
									</p>
									<p>
										<strong>Volume: </strong>
										{{report?.volume==''?'...............':report.volume}}
										<strong>Colour: </strong>
										{{report?.colour==''?'..............':report.colour }}
										<strong>Liquefaction: </strong>
										{{report?.liquefaction==''?'..............':report.liquefaction }}
									</p>
									<p>
										<strong>Viscocity: </strong>
										{{report?.viscocity==''?'...............':report.viscosity}}
										<strong>pH: </strong>
										{{report?.ph==''?'..............':report.ph }}
										<strong>Viability: </strong>
										{{report?.viability==''?'..............':report.viability }}
									</p>
									<p><strong>Motility: </strong> Active: {{report?.motility_active==''?'..............':report.motility_active }}<br>
										<span style="margin-left:55px">Sluggish: {{report?.motility_sluggish==''?'..............':report.motility_sluggish }}</span><br>
										<span style="margin-left:55px">Non-motile: {{report?.motility_non_motile==''?'..............':report.motility_non_motile }}</span><br>
									</p>
									<p><strong>COUNT: </strong>{{report?.count==''?'.........':report.count}} X 10 <sup>6</sup> sperm/ml</p>
									<table class="hpf">
										<thead>
											<tr>
												<td></td>
												<th>Particulate Debris(HPF)</th>
												<th>Morphology(%)</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Pus Cells</td>
												<td>{{report?.hpf_pus_cell}}</td>
												<td>{{report?.morph_pus_cell}}</td>
											</tr>
											<tr>
												<td>RBC</td>
												<td>{{report?.hpf_rbc}}</td>
												<td>{{report?.morph_rbc}}</td>
											</tr>
											<tr>
												<td>Epithelial Cells</td>
												<td>{{report?.hpf_epithelial_cell}}</td>
												<td>{{report?.morph_epithelial_cell}}</td>
											</tr>
										</tbody>
									</table>
									<h6>Stool Microscopy</h6>
									<p><strong>Macroscopy: </strong>{{report?.stool_macroscopy==''?'..................':report.stool_macroscopy}}</p>
									<p><strong>Wet Prepartion: </strong>{{report?.wet_preparation==''?'..................':report.wet_preparation}}</p>
									<p><strong>Concentration: </strong>{{report?.concentration==''?'..................':report.concentration}}</p>
									<p><strong>Malaria Parasite: </strong>{{report?.malaria_parasite==''?'..................':report.malaria_parasite}}</p>
									<p><strong>Microfilaria Skin: </strong>{{report?.microfilaria_skin==''?'..................':report.microfilaria_skin}}</p>
									<p><strong>Microfilaria Blood: </strong>{{report?.microfilaria_blood==''?'..................':report.microfilaria_blood}}</p>
									<p><strong>Stool Occult Blood </strong>{{report?.stool_occult_blood==''?'..................':report.stool_occult_blood}}</p>
								</td>
								<td colspan="2">
									<p><strong>VDRL Test: </strong>{{report?.vdrl_test==''?'..................................':report.vdrl_test}}</p>
									<p><strong>ASO Titre: </strong>{{report?.aso_titre==''?'..................................':report.aso_titre}}</p>
									<p><strong>Chlamydia Serology: </strong>{{report?.chlamydia_serology==''?'..................................':report.chlamydia_serology}}</p>
									<p><strong>Hep B, Ag: </strong>{{report?.hepbag==''?'..................................':report.hepbag}}</p>
									<p><strong>HCV Ab: </strong>{{report?.hcv_ab==''?'..................................':report.hcv_ab}}</p>
									<p><strong>Helicobacter Pylori Ab: </strong>{{report?.helocobacter==''?'..................................':report.helicobacter}}</p>
									<p><strong>Retroviral Screening Test: </strong>{{report?.retroviral_screening==''?'..................................':report.retroviral_screening}}</p>
									<p><strong>Retroviral Confirmation: </strong>{{report?.retroviral_confirmation==''?'..................................':report.retroviral_confirmation}}</p>
									<p><strong>CD<sub>4</sub> Count: </strong>{{report?.cd4_count==''?'..................................':report.cd4_count}}</p>
									
									<h6>MANTOUX TEST</h6>
									<p>
										<strong>Given: </strong>
										{{report?.given==''?'...............':report.given}}
										<strong>Read: </strong>
										{{report?.read==''?'..............':report.read}}
									</p>
									<p><strong>Result: </strong>{{report?.result==''?'.................................................':report.result}}</p>
									<h6>SEROLOGICAL TEST</h6>
									<h6>Widal Test</h6>
									<table class="widal-tbl">
										<thead>
											<tr>
												<th rowspan="2">Antigen</th>
												<th colspan="2">Antibody</th>
											</tr>
											<tr>
												<th>"O"</th>
												<th>"H"</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>S. Typhi</td>
												<td>{{report?.s_typhi_o}}</td>
												<td>{{report?.s_typhi_h}}
											</tr>
												<tr>
													<td>S. Paratyphi A</td>
													<td>{{report?.s_paratyphi_a_o}}</td>
													<td>{{report?.s_paratyphi_a_h}}</td>
												</tr>
												<tr>
													<td>S. Paratyphi B</td>
													<td>{{report?.s_paratyphi_b_o}}</td>
													<td>{{report?.s_paratyphi_b_h}}</td>
												</tr>
												<tr>
													<td>S. Paratyphi C</td>
													<td>{{report?.s_paratyphi_c_o}}</td>
													<td>{{report?.s_paratyphi_c_h}}</td>
												</tr>
											</tbody>
										</table>
									
										<p><strong>Comment: </strong>{{report?.comment==''?'....................................':report.comment}}</p>
										
									</td>
								</tr>
								<tr>
									<td colspan="7" class="p-0">
										<h6 class="py-0 my-0">Culture</h6>
										<p><strong>Organism(s) isolated: </strong>{{report?.organism_isolated==''?'.........':report.organism_isolated}}</p>
										<table class="culture">
											<thead>
												<tr>
													<th ></th>
													<th colspan="4">Sensitivity</th>
													<th></th>
													<th colspan=""></th>
													<th colspan="4">Sensitivity</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th>Antimicrobial Agents</th>
													<th>+++</th>
													<th>++</th>
													<th>+</th>
													<th>R</th>
													<th></th>
													<th>Antimicrobial Agents</th>
													<th>+++</th>
													<th>++</th>
													<th>+</th>
													<th>R</th>
												</tr>
												<tr>
													<td>
														Amoxycillin/Clavulante
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.amoxycillin =='ppp'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.amoxycillin =='pp'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.amoxycillin =='p'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.amoxycillin =='r'">check</i>
													</td>
													<td></td>
													<td>
														Ciprofloxacin
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.ciprofloxin =='ppp'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.ciprofloxin =='pp'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.ciprofloxin =='p'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.ciprofloxin =='r'">check</i>
													</td>
												</tr>
												<tr>
													<td>
														Cefuroxime
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.cefuroxime =='ppp'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.cefuroxime =='pp'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.cefuroxime =='p'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.cefuroxime =='r'">check</i>
													</td>
													<td></td>
													<td>
														Chloramphenicol
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.chloramphenicol =='ppp'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.chloramphenicol =='pp'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.chloramphenicol =='p'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.chloramphenicol =='r'">check</i>
													</td>
												</tr>
												<tr>
													<td>
														Ceftriaxone
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.ceftriaxone =='ppp'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.ceftriaxone =='pp'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.ceftriaxone =='p'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.ceftriaxone =='r'">check</i>
													</td>
													<td></td>
													<td>
														Erythromycin
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.erythromycin =='ppp'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.erythromycin =='pp'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.erythromycin =='p'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.erythromycin =='r'">check</i>
													</td>
												</tr>	
												<tr>
													<td>
														Cotrimoxazole
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.cotrimoxazole =='ppp'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.cotrimoxazole =='pp'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.cotrimoxazole =='p'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.cotrimoxazole =='r'">check</i>
													</td>
													<td></td>
													<td>
														Gentamycin
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.gentymacin =='ppp'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.gentymacin =='pp'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.gentymacin =='p'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.gentymacin =='r'">check</i>
													</td>
												</tr>
												<tr>
													<td>
														Norfloxacin
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.norfloxacin =='ppp'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.norfloxacin =='pp'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.norfloxacin =='p'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.norfloxacin =='r'">check</i>
													</td>
													<td></td>
													<td>
														Ofloxacin
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.ofloxacin =='ppp'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.ofloxacin =='pp'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.ofloxacin =='p'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.ofloxacin =='r'">check</i>
													</td>
												</tr>
												<tr>
													<td>
														Tebacylin
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.tebacylin =='ppp'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.tebacylin =='pp'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.tebacylin =='p'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.tebacylin =='r'">check</i>
													</td>
													<td></td>
													<td>
														Nitrofurantoin
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.nitrofuratoin =='ppp'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.nitrofuratoin =='pp'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.nitrofuratoin =='p'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.nitrofuratoin =='r'">check</i>
													</td>
												</tr>
												<tr>
													<td>
														Nalidixic Acid
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.nalidixic_acid =='ppp'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.nalidixic_acid =='pp'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.nalidixic_acid =='p'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.nalidixic_acid =='r'">check</i>
													</td>
													<td></td>
													<td>
														Ampiclox
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.ampiclox =='ppp'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.ampiclox =='pp'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.ampiclox =='p'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.ampiclox =='r'">check</i>
													</td>
												</tr>
												<tr>
													<td>
														Streptomycin
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.streptomacycin =='ppp'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.streptomacycin =='pp'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.streptomacycin =='p'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.streptomacycin =='r'">check</i>
													</td>
													<td></td>
													<td>
														Amoxycilin
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.amoxycilin =='ppp'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.amoxycilin =='pp'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.amoxycilin =='p'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.amoxycilin =='r'">check</i>
													</td>
												</tr>
												<tr>
													<td>
														Septrin
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.septrin =='ppp'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.septrin =='pp'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.septrin =='p'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.septrin =='r'">check</i>
													</td>
													<td></td>
													<td>
														Clidamycin
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.clidamycin =='ppp'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.clidamycin =='pp'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.clidamycin =='p'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.clidamycin =='r'">check</i>
													</td>
												</tr>
												<tr>
													<td>
														Levofloxcin
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.levofloxcin =='ppp'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.levofloxcin =='pp'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.levofloxcin =='p'">check</i>
													</td>
													<td>
														<i class="material-icons" *ngIf="report?.levofloxcin =='r'">check</i>
													</td>
				
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				 </app-printed-page>