<app-title-panel title="Add New Patient">
	<li class="breadcrumb-item"><a [routerLink]="['/dashboard']" >Dashboard</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/patient/new']">Add new patient</a> </li>
</app-title-panel>
<div class="page-content">
	<app-linear-loading  [showLoading]="loading"></app-linear-loading>
	<app-patient-form (submit)="handleSubmit($event)" [disableBtn] ="loading">
	</app-patient-form>
</div>