<div class="card-panel" *ngIf="showLoading">
    <div class="center-align" >
        <div class="preloader-wrapper big active spinner">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
            <div class="circle"></div>
        </div>
    </div>
</div>
<p>{{loadingInfo}}</p>
</div>
</div>