<div class="login-wrap">


	<div class="container">
		<div class="row">
			<div class="col m6 offset-m3">
				<div class="panel-wrap">
					<app-linear-loading [showLoading]="logginIn"></app-linear-loading>
				<div class="card-panel near-loading">
					<div class="logo center-align">
						<img [src]="logoUrl" height="100px">
					</div>
					<h5 class="card-tile">Sign In</h5>
					<hr>
					<form (submit)="login($event)">
						<div class="input-field"> 
							<input type="text" id="username" name="username" class="validate" required>
							<label for="username">Username</label>
						</div>
						<div class="input-field">
							<input type="password" id="password" name="password" class="validate" required>
							<label for="password">Password</label>
						</div>

						<div class="center-align">
							<button [disabled]="logginIn" class="btn waves-effect btn-large  waves-light">Sign In</button>
						</div>
					</form>
				</div>
				</div>
			</div>
		</div>
	</div>

</div>
