<div class="card-panel" *ngIf="show">
	<div class="center-align">
		<p>Can't connect to server at the moment please try again </p>
		 <button class="btn" (click)="retry()">Retry</button>
	</div>
</div>