.m-modal{
	
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:transparentize(grey,.8);
	z-index:1000;
	display:none;
}

.wrapper{
	height:100%;
	width:100%;
	padding-top:100px;
	

	.content{
		padding:20px;
		background:white;
		width:400px;
		height:300px;
		margin:auto;
		position:relative;
	}
}

.btns{
	display:flex;
	justify-content:space-between;


	position:absolute;
	bottom:0;
	width:90%;
	padding-bottom:10px;

	button{
		background:none;
		border:none;
		font-size:20px;
		padding:20px;
		font-weight:500;
		color:darken(skyblue,20%);
		cursor:pointer;
	}

}