<div class="m-modal" #modal (click)="onCancel()">
	<div class="wrapper animated  zoomIn">
		<div class="content " (click)="$event.stopPropagation()">
			<div class="header">
				<h5>Notify Patient</h5>
			</div>
			<div class="body">
				<p>
			      <label>
			        <input type="checkbox" value="sms"  [formControl]="sms" />
			        <span>Notify  Patient Via SMS</span>
			      </label>
			    </p>

			    <p>
			      <label>
			        <input type="checkbox" value="email"  [formControl]="email"/>
			        <span>Email Patient Report</span>
			      </label>
			    </p>

			</div>
			<div class="footer">
				<div class="btns">
					<button (click)="onCancel()">Cancel</button>
					<button (click)="onContinue()">Continue</button>
				</div>
			</div>
		</div>
	</div>
</div>