<app-title-panel title="Chemical Pathology Report details">
    <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Dashboard</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/chemical-pathology/reports/']">Chemical Pathology reports </a> </li>
</app-title-panel>
<div class="page-content">

    <connection-error [show]="conError" [retryCb]="getReport"></connection-error>
    <server-error [show]="serverError" [retryCb]="getReport"></server-error>
    <app-loading [showLoading]="loadingReport" loadingInfo="Loading report data please wait" ></app-loading>


    <div class="card-panel" *ngIf="!loadingReport && !conError && !serverError">
        <app-printed-page>
          <div class="view-report-table">
          	<table>
          		<thead>
          			<tr>
          	 			<th class="" colspan="12">Chemical Pathology Report</th>
                              <th width="10%">Lab No.: {{ report.lab_id }}</th>
          			</tr>
         		</thead>
         		<tbody>
          			<tr>
          				<td colspan="3">
          					<label>Surname</label><br>
          					{{report?.patient.surname}}
          				</td>
          				<td colspan="2">
          					<label>Other Names</label><br>
          					{{report?.patient.first_name+' '+report?.patient.middle_name}}

          				</td>
          				<td width="5%">
          					<label>Age</label><br>
          					{{report?.patient.age}}
          				</td>
          				<td colspan="2">
          					<label>Sex</label><br>
          					{{report?.patient.sex}}
          				</td >
          				<td colspan="2">
          					<label>Date</label><br>
          					{{report?.date | date:mediumDate }}
          				</td>
          				<td >
          					<label>Time</label><br>
          					{{report?.time | date:shortTime}}
          				</td>
          				<td colspan="2">
          					<label>Requested By</label><br>
          					{{report?.requested_by}}
          				</td>
          			</tr>

                    <tr>
                        <td colspan="3" width="20%">
                            <label>Clinical Details</label><br>
                             {{ report?.clinical_detail }}

                        </td>
                        <td colspan="5">
                            <label>Exam Required</label><br>
                            {{ report?.exam_required }}
                        </td>
                        <td colspan="2">
                            <label>Specimen</label><br>
                            {{ report?.specimen }}
                        </td>
                        <td colspan="3">
                            <label>Clinic</label><br>
                            {{report?.clinic}}
                        </td>
                    </tr>



          			<tr>
          				<td width="4%"></td>
          				<th colspan="3">Test</th>
          				<th colspan="3">Results</th>
          				<td width="4%"></td>
          				<th colspan="3">Test</th>
          				<th colspan="3">Results</th>
          			</tr>
          			<tr>
          				<td></td>
          				<th colspan="3">LIPID PROFILE</th>
          				<td colspan="3"></td>
          				<td></td>
          				<th colspan="3">LIVER FUNCTION TEST</th>
          				<td colspan="3"></td>
          			</tr>
          			<tr>
          				<td><i class="material-icons" *ngIf="report?.total_cholesterol!=''">check</i></td>
          				<td colspan="3">Total Cholesterol(0.0-5.2 mm01/L)</td>
          				<td colspan="3">{{report?.total_cholesterol}}</td>
          				<td><i class="material-icons" *ngIf="report?.ast!=''">check</i></td>
          				<td colspan="3">AST</td>
          				<td colspan="3">{{ report?.ast }}</td>
          			</tr>
          			<tr>
          				<td><i class="material-icons" *ngIf="report?.triglyceride!=''">check</i></td>
          				<td colspan="3">Triglyceride(0.0 - 2.3mm01/L)</td>
          				<td colspan="3">{{report?.triglyceride}}</td>
          				<td><i class="material-icons" *ngIf="report?.alt!=''">check</i></td>
          				<td colspan="3">ALT</td>
          				<td colspan="3">{{report?.alt}}</td>
          			</tr>
          			<tr>
          				<td><i class="material-icons" *ngIf="report?.hdlm!=''">check</i></td>
          				<td colspan="3">HDLM(>0.9mmo1/L)f >(1.15mmo1/L)</td>
          				<td colspan="3">{{report?.hdlm}}</td>
          				<td><i class="material-icons" *ngIf="report?.alp!=''">check</i></td>
          				<td colspan="3">ALP</td>
          				<td colspan="3">{{report?.alp}}</td>
          			</tr>
          			<tr>
          				<td><i class="material-icons" *ngIf="report?.vldl!=''">check</i></td>
          				<td colspan="3">VLDL(0.40-0.60mmo1/L)</td>
          				<td colspan="3">{{report?.vldl}}</td>
          				<td><i class="material-icons" *ngIf="report?.bilirubin!=''">check</i></td>
          				<td colspan="3">Biliburin</td>
          				<td colspan="3">{{report?.bilirubin}}</td>
          			</tr>
          			<tr>
          				<td><i class="material-icons" *ngIf="report?.ldl!=''">check</i></td>
          				<td colspan="3">LDL(0.0-4.11mmo1/L)</td>
          				<td colspan="3">{{report?.ldl}}</td>
          				<td><i class="material-icons" *ngIf="report?.conj_bilirubin!=''">check</i></td>
          				<td colspan="3">Conj. Biliburin</td>
          				<td colspan="3">{{report?.conj_bilirubin}}</td>
          			</tr>
          			<tr>
          				<td><i class="material-icons" *ngIf="report?.eucr!=''">check</i></td>
          				<td colspan="3">E/U/Cr</td>
          				<td colspan="3">{{report?.eucr}}</td>
          				<td><i class="material-icons" *ngIf="report?.total_protein!=''">check</i></td>
          				<td colspan="3">Total Protein</td>
          				<td colspan="3">{{report?.total_protein}}</td>
          			</tr>
          			<tr>
          				<td><i class="material-icons" *ngIf="report?.creatinine!=''">check</i></td>
          				<td colspan="3">Creatinene(58 - 110umo1/L)</td>
          				<td colspan="3">{{report?.creatinine}}</td>
          				<td><i class="material-icons" *ngIf="report?.albunim!=''">check</i></td>
          				<td colspan="3">Albunim</td>
          				<td colspan="3">{{report?.albunim}}</td>
          			</tr>
          			<tr>
          				<td><i class="material-icons" *ngIf="report?.urea!=''">check</i></td>
          				<td colspan="3">Urea(2.8 -7.2mmo1/L)</td>
          				<td colspan="3">{{report?.urea}}</td>
          				<td><i class="material-icons" *ngIf="report?.globulin!=''">check</i></td>
          				<td colspan="3">Globulin</td>
          				<td colspan="3">{{report?.globulin}}</td>
          			</tr>
          			<tr>
          				<td><i class="material-icons" *ngIf="report?.sodium!=''">check</i></td>
          				<td colspan="3">Sodium(132 -145mmo1/L)</td>
          				<td colspan="3">{{report?.sodium}}</td>
          				<td><i class="material-icons" *ngIf="report?.glucose!=''">check</i></td>
          				<td colspan="3">Glucose</td>
          				<td colspan="3">{{report?.glucose}}</td>
          			</tr>
          			<tr>
          				<td><i class="material-icons" *ngIf="report?.potassium!=''">check</i></td>
          				<td colspan="3">Potassium(3.5 -5.0mmo1/L)</td>
          				<td colspan="3">{{report?.potassium}}</td>
          				<td><i class="material-icons" *ngIf="report?.rbs!=''">check</i></td>
          				<td colspan="3">RBS(3.0-8.0mmo1/L)</td>
          				<td colspan="3">{{report?.rbs}}</td>
          			</tr>
          			<tr>
          				<td><i class="material-icons" *ngIf="report?.chloride!=''">check</i></td>
          				<td colspan="3">Chloride(96 - 108mmo1/L)</td>
          				<td colspan="3">{{report?.chloride}}</td>
          				<td><i class="material-icons" *ngIf="report?.fbs!=''">check</i></td>
          				<td colspan="3">FBS(3.0-5.5mmo1/L)</td>
          				<td colspan="3">{{report?.fbs}}</td>
          			</tr>
          			<tr>
          				<td><i class="material-icons" *ngIf="report?.chloride!=''">check</i></td>
          				<td colspan="3">Bicarbonate(96 - 108mmo1/L)</td>
          				<td colspan="3">{{report?.chloride}}</td>
          				<td><i class="material-icons" *ngIf="report?.hrs2ppbs!=''">check</i></td>
          				<td colspan="3">2HRS PPBS(3.0-5.5mmo1/L)</td>
          				<td colspan="3">{{report?.hrs2ppbs}}</td>
          			</tr>
          			<tr>
          				<td></td>
          				<th colspan="3">HORMONAL PROFILE</th>
          				<td colspan="3"></td>
          				<td><i class="material-icons" *ngIf="report?.amylase!=''">check</i></td>
          				<td colspan="3">Amylase (up to 4001U/L)</td>
          				<td colspan="3">{{report?.amylase}}</td>
          			</tr>

          			<tr>
          				<td><i class="material-icons" *ngIf="report?.fsh!=''">check</i></td>
          				<td colspan="3">FSH</td>
          				<td colspan="3">{{report?.fsh}}</td>
          				<td><i class="material-icons" *ngIf="report?.cpk!=''">check</i></td>
          				<td colspan="3">CPK (0-130iu/L)</td>
          				<td colspan="3">{{report?.cpk}}</td>
          			</tr>
          			<tr>
          				<td><i class="material-icons" *ngIf="report?.lh!=''">check</i></td>
          				<td colspan="3">LH</td>
          				<td colspan="3">{{report?.lh}}</td>
          				<td><i class="material-icons" *ngIf="report?.gamma_glutamic!=''">check</i></td>
          				<td colspan="3">Gamma Glutamic Acid (M<49F>32)</td>
          				<td colspan="3">{{report?.gamma_glutamic}}</td>
          			</tr>
          			<tr>
          				<td><i class="material-icons" *ngIf="report?.progesteron!=''">check</i></td>
          				<td colspan="3">Progesteron</td>
          				<td colspan="3">{{report?.progesteron}}</td>
          				<td><i class="material-icons" *ngIf="report?.uric_acid!=''">check</i></td>
          				<td colspan="3">Uric acid: Male(214-488umo1/L) Female(137-365 umo1/L)</td>
          				<td colspan="3">{{report?.uric_acid}}</td>
          			</tr>
          			<tr>
          				<td><i class="material-icons" *ngIf="report?.prolactin!=''">check</i></td>
          				<td colspan="3">Prolactin</td>
          				<td colspan="3">{{report?.prolactin}}</td>
          				<td><i class="material-icons" *ngIf="report?.calcium!=''">check</i></td>
          				<td colspan="3">Calcium(2.2 - 2.6mmo1/L)</td>
          				<td colspan="3">{{report?.calcium}}</td>
          			</tr>
          			<tr>
          				<td><i class="material-icons" *ngIf="report?.estradol!=''">check</i></td>
          				<td colspan="3">Estradol</td>
          				<td colspan="3">{{report?.estradol}}</td>
          				<td><i class="material-icons" *ngIf="report?.inorganic_phos!=''">check</i></td>
          				<td colspan="3">Inorganic Phos(0.96 -1.4mmo1/L)</td>
          				<td colspan="3">{{report?.inorganic_phos}}</td>
          			</tr>
          			<tr>
          				<td><i class="material-icons" *ngIf="report?.psa!=''">check</i></td>
          				<td colspan="3">PSA(0-4ng/ml)</td>
          				<td colspan="3">{{report?.psa}}</td>
          				<td><i class="material-icons" *ngIf="report?.tsh!=''">check</i></td>
          				<td colspan="3">TSH</td>
          				<td colspan="3">{{report?.tsh}}</td>
          			</tr>
          			<tr>
          				<th colspan="12">
          					URINALYSYS
          				</th>
          			</tr>
                         <tr>
                              <th colspan="3">Test</th>
                              <th colspan="3">Result</th>
                              <th colspan="3">Test</th>
                              <th colspan="3">Result</th>
                         </tr>
                         <tr>
                              <td colspan="3">Appearance</td>
                              <td colspan="3">{{report?.appearance}}</td>
                              <td colspan="3">Leucocytes</td>
                              <td colspan="3">{{report?.leucocytes}}</td>
                         </tr>
                         <tr>
                              <td colspan="3">PH</td>
                              <td colspan="3">{{report?.ph}}</td>
                              <td colspan="3">Specific Gravity</td>
                              <td colspan="3">{{report?.specific_gravity}}</td>
                         </tr>
                         <tr>
                              <td colspan="3">Protein</td>
                              <td colspan="3">{{report?.protein}}</td>
                              <td colspan="3">Glucose</td>
                              <td colspan="3">{{report?.ur_glucose}}</td>
                         </tr>
                         <tr>
                              <td colspan="3">Ketone Bodies</td>
                              <td colspan="3">{{report?.ketone_bodies}}</td>
                              <td colspan="3">Urobilinogen</td>
                              <td colspan="3">{{report?.urobilinogen}}</td>
                         </tr>
                         <tr>
                              <td colspan="3">Bilirubin</td>
                              <td colspan="3">{{report?.ur_bilirubin}}</td>
                              <td colspan="3">Blood</td>
                              <td colspan="3">{{report?.blood}}</td>
                         </tr>
                         <tr>
                              <td colspan="3">Nitric</td>
                              <td colspan="3">{{report?.nitric}}</td>
                              <td colspan="3">Crystals</td>
                              <td colspan="3">{{report?.crystals}}</td>
                         </tr>
                         <tr>
                              <td colspan="3">Ascorbic</td>
                              <td colspan="3">{{report?.ascorbic}}</td>
                              <td colspan="3"></td>
                              <td colspan="3"></td>
                         </tr>

          		</tbody>
          	</table>
          </div>
        </app-printed-page>


    </div>
</div>
