<app-title-panel title="New Chemical Pathology Report">
    <li class="breadcrumb-item"><a [routerLink]="['/dashboard']" >Dashboard</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/chemical-pathology/new']">New Chemical Pathology Report</a> </li>
</app-title-panel>

<div class="page-content">
	<app-linear-loading [showLoading]="saving"></app-linear-loading>
	<chemical-pathology-form [saving]="saving"   (submit)="onSubmit($event)"></chemical-pathology-form>
</div>

<app-modal></app-modal>