<app-title-panel title="All Patients">
	<li class="breadcrumb-item"><a [routerLink]="['/dashboard']" >Dashboard</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/patients']">All Patients</a> </li>
</app-title-panel>
<div class="page-content">
	
	<connection-error [show]="conError" [retryCb]="getPatientLog"></connection-error>
	<server-error [show]="serverError" [retryCb]="getPatientLog"></server-error>
	<app-loading [showLoading]="loading" loadingInfo="Loading patient log please wait" ></app-loading>
	<no-record [show]='matDatasource.data.length==0 && !loading && !conError && !serverError'>Pateint currently have no logs</no-record>
	
	<div class="card-panel near-loading" *ngIf="!loading && !conError && !serverError && matDatasource.data.length!==0">
		<div class="row">
                <div class="col m4 offset-m8">
                    <div class="input-field">
                        <input type="text" id="filter" (keyup)="filterTable($event.target.value)">
                        <label for="filter">Filter</label>
                    </div>
                </div>
            </div>

			<table mat-table [dataSource]="matDatasource" matSort *ngIf="matDatasource.data.length!==0">
				 <ng-container matColumnDef="type">
		            <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
		            <td mat-cell *matCellDef="let log"> {{log.type}} </td>
		         </ng-container>
		         <ng-container matColumnDef="date">
		            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
		            <td mat-cell *matCellDef="let log"> {{log.created_at | date:mediumDate  }} </td>
		         </ng-container>
		       
		         <ng-container matColumnDef="view">
		            <th mat-header-cell *matHeaderCellDef> View</th>

		            <td mat-cell *matCellDef="let log"> <a [routerLink]="getLink(log)" class="btn blue accent-3">View Details</a> </td>
		           
		         </ng-container>
		        
 
		          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
		          <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
	        
			</table>
			<mat-paginator [pageSize]="10" 
                            [pageSizeOptions]="[5, 10, 20]" 
                            showFirstLastButtons
                            *ngIf="matDatasource.data.length!==0"
                            >
                           
        	 </mat-paginator>