<aside class="sidebar ">
  <div class="brand">
    <a [routerLink]="['/dashboard']" class="brand-logo">
     {{labName}}
    </a>
    <p>{{subName}}</p>
  </div>
  <div class="sidebar-body z-depth-5">
    <div class="sidebar-time z-depth-2">
      <div class=" animated fadeInDown">
        <p class="time">{{hour}}:{{minute}}<small class="seconds">:{{second}}</small> </p>
        <p class="date">{{day}}, {{month}} {{date}} {{year}}</p>
      </div>
    </div>
    <div class="sidebar-nav">
      <div class="overlay">
        <div class="wrapper">
          <ul class="links">
            <li>
              <a [routerLink]="['dashboard']" class="waves-effect"  data-drop-down='dropdown1'>
                <span class="material-icons ">dashboard</span>
                <span class="link-text"> Dashboard</span>
                <!--<span class="material-icons arrow">keyboard_arrow_right</span>-->
              </a>
            </li>
            <li class="waves-effect">
              <a href="#" class="dropdown-toggle "  data-target='patients'>
                <span class="material-icons">person</span>
                <span class="link-text"> Patients</span>
                <span class="material-icons">keyboard_arrow_right</span>
              </a>
              <ul id='patients' class='dropdown'>
                <li><a [routerLink]="['patient/new']" class="waves-effect"> <i class="material-icons">person_add</i> New Patient</a></li>
                <li><a [routerLink]="['patients']" class="waves-effect"><i class="material-icons">view_headline</i> View Patients</a></li>
              </ul>
            </li>
            <li class="waves-effect">
              <a href="#" class="dropdown-toggle "  data-target='haematology '>
                <span class="material-icons">line_style</span>
                <span class="link-text"> Haematology</span>
                <span class="material-icons">keyboard_arrow_right</span>
              </a>
              <ul id='haematology' class='dropdown'>
                <li><a [routerLink]="['haematology/new']" class="waves-effect"> <i class="material-icons">add</i> New Report</a></li>
                <li><a [routerLink]="['haematology/reports']" class="waves-effect"><i class="material-icons">receipt</i> View Reports</a></li>
              </ul>
            </li>
            <li class="waves-effect">
              <a href="#" data-target="pathology" class="dropdown-toggle">
                <span class="material-icons">track_changes</span>
                <span class="link-text"> Chemical Pathology</span>
                <span class="material-icons">keyboard_arrow_right</span>
              </a>
              <ul id='pathology' class='dropdown'>
                <li><a [routerLink]="['chemical-pathology/new']" class="waves-effect"> <i class="material-icons">add</i> New Report</a></li>
                <li><a [routerLink]="['chemical-pathology/reports']" class="waves-effect"><i class="material-icons">receipt</i> View Reports</a></li>
              </ul>
            </li>
            <li class="waves-effect">
              <a href="#" data-target="microbiology"  title="Medical Microbiology and Parasitology" class="dropdown-toggle">
                <span class="material-icons">track_changes</span>
                <span class="link-text"> Medical Microbiology </span>
                <span class="material-icons">keyboard_arrow_right</span>
              </a>
              <ul id='microbiology' class='dropdown'>
                <li><a [routerLink]="['medical-microbiology-and-parasitology/new']" class="waves-effect"> <i class="material-icons">add</i> New Report</a></li>
                <li><a [routerLink]="['medical-microbiology-and-parasitology/reports']" class="waves-effect"><i class="material-icons">receipt</i> View Reports</a></li>
              </ul>
            </li>
           <!--  <li class="waves-effect">
              <a  href="#" data-target="radiology" class="dropdown-toggle ">
                <span class="material-icons">donut_small</span>
                <span class="link-text"> Radiological Request</span>
                <span class="material-icons">keyboard_arrow_right</span>
              </a>
              <ul id='radiology' class='dropdown'>
                <li><a [routerLink]="['radiological-request/new']" class="waves-effect"> <i class="material-icons">add</i> New request</a></li>
                <li><a [routerLink]="['radiological-request/requests']" class="waves-effect"><i class="material-icons">receipt</i> View requests</a></li>
              </ul>
            </li> -->

           <li *ngIf="isAdmin">
              <a [routerLink]="['/manage-labs']" class="waves-effect"  data-drop-down='dropdown1'>
                <span class="material-icons ">local_hospital</span>
                <span class="link-text"> Manage Labs</span>
                <!--<span class="material-icons arrow">keyboard_arrow_right</span>-->
              </a>
            </li>

            <li  *ngIf="isAdmin">
              <a [routerLink]="['/settings']" class="waves-effect"  data-drop-down='dropdown1'>
                <span class="material-icons ">settings</span>
                <span class="link-text"> Settings</span>
                <!--<span class="material-icons arrow">keyboard_arrow_right</span>-->
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</aside>