<div class="card-panel report-panel near-loading">
	<form [formGroup] = 'medMicroForm'>
		<section [ngClass]="{'active':activePane===0}" class="input-section animated fadeIn">
			<h5 class="card-title">Basic Test information</h5>
			<div class="row">
				<div class="col m4">
					<div class="input-field">
						 <select (change)="onPatientSelected($event)" class="validate"  formControlName="patient_id" required>
						 	<option value="" ></option>
						 	
						     <option value="new">Add new patient</option>
						     <option disabled *ngIf="loadingPatients">Loading patients please wait</option>
						     <option value="retry"  *ngIf="errorOccurred" >An error occurred, click here to retry loading patients</option>
							 <option *ngFor="let patient of patients" value="{{patient.id}}">{{patient.first_name+' '+patient.middle_name+' '+patient.surname }}</option>}
							option
					    </select>
    					<label>Select patient</label>
					</div>
				</div>
				<div class="col m4">
					<div class="input-field">
						<input type="text" id="requested-by" formControlName="requested_by" class="validate" required>
						<label for="requested-by">Requested By</label>
					</div>
				</div>
				<div class="col m4">
					<div class="input-field">
						<input type="text" id="clinical-detail" formControlName="clinical_detail">
						<label for="clinical-detail">Clinical Detail</label>
					</div>
				</div>
				<div class="col m4">
					<div class="input-field">
						<input type="text" id="exam-required" formControlName="exam_required">
						<label for="exam-required">Exam Required</label>
					</div>
				</div>
				<div class="col m4">
					<div class="input-field">
						<input type="text" id="specimen" formControlName="specimen">
						<label for="specimen">Specimen</label>
					</div>
				</div>
				<div class="col m4">
					<div class="input-field">
						<input type="text" id="clinic" formControlName="clinic">
						<label for="clinic">Clinic</label>
					</div>
				</div>
			</div>
		</section>
		<section [ngClass]="{'active':activePane===1}" class="input-section animated fadeIn">
                    <div class="row">

                        <div class="col s12">
                            <div class="input-field">
                                <input type="text" id="therapy" formControlName="antibiotic_therapy">
                                <label for="therapy">Current Antibiotics Therapy</label>
                            </div>
                        </div>


                        <div class="col m4">
                            <div class="input-field">
                                <input type="text" id="macroscopy" formControlName="macroscopy">
                                <label for="macroscopy">Macroscopy</label>
                            </div>
                        </div>
                        <div class="col m4">
                            <div class="input-field">
                                <input type="text" id="cell-count" formControlName="cell_count">
                                <label for="cell-count">Cell Count</label>
                            </div>
                        </div>
                        <div class="col m4">
                            <div class="input-field">
                                <input type="text" id="dif-wbc" formControlName="differential_wbc">
                                <label for="dif-wbc">Differential WBC</label>
                            </div>
                        </div>
                    </div>
                    <h6>Wet preparation (HPF)</h6>
                    <div class="row">
                        <div class="col m4">
                            <div class="input-field">
                                <input type="text" id="pus-cell" formControlName="pus_cell">
                                <label for="pus-cell">Pus Cell</label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="rbc" formControlName="rbc">
                                <label for="rbc">RBC</label>
                            </div>
                        </div>
                        <div class="col m5">
                            <div class="input-field">
                                <input type="text" id="epithelial" formControlName="epithelial_cell">
                                <label for="epithelial">Epithelial Cells</label>
                            </div>
                        </div>
                    </div>
        </section >
        <section [ngClass]="{'active':activePane===2}" class="input-section animated fadeIn">
                    <h6>Gramstain</h6>
                    <div class="row">
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="pus-cell-g" formControlName="gram_pus_cell">
                                <label for="pus-cell-g">Pus Cell</label>
                            </div>
                        </div>
                        <div class="col m2">
                            <div class="input-field">
                                <input type="text" id="gve" formControlName="gve_ccoci_pos">
                                <label for="gve">G+ VE: COCCI</label>
                            </div>
                        </div>
                        <div class="col m2">
                            <div class="input-field">
                                <input type="text" id="rods-p" formControlName="gve_rods_pos">
                                <label for="rods-p">G+ VE: RODS</label>
                            </div>
                        </div>
                        <div class="col m2">
                            <div class="input-field">
                                <input type="text" id="gve-n" formControlName="gve_ccoci_neg">
                                <label for="gve-n">G- VE: COCCI</label>
                            </div>
                        </div>
                        <div class="col m2">
                            <div class="input-field">
                                <input type="text" id="rods-n" formControlName="gve_rods_neg">
                                <label for="rods-n">G- VE: RODS</label>
                            </div>
                        </div>
                        <div class="col m2">
                            <div class="input-field">
                                <input type="text" id="epithelial-g" formControlName="gram_epithelial_cell">
                                <label for="epithelial-g">Epithelial cells</label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="znstain" formControlName="zn_stain_pus_cell">
                                <label for="znstain">ZN STAIN: Pus Cells</label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="afb1" formControlName="zn_stain_afb_x1">
                                <label for="afb1">ZN STAIN:AFB x1</label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="afb2" formControlName="zn_stain_afb_x2">
                                <label for="afb2">ZN STAIN:AFB x2</label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="afb3" formControlName="zn_stain_afb_x3">
                                <label for="afb3">ZN STAIN:AFB x3</label>
                            </div>
                        </div>
                    </div>
        </section>
        <section [ngClass]="{'active':activePane===3}" class="input-section animated fadeIn">
                    <h6>SEMEM ANALYSIS</h6>
                    <div class="row">
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="test-time" formControlName="test_time">
                                <label for="test-time">Production/Test time</label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="abstinence" formControlName="abstinence">
                                <label for="abstinence">Abstinence</label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="volume" formControlName="volume">
                                <label for="volume">Volume</label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="colour" formControlName="colour">
                                <label for="colour">Colour</label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="liquefaction" formControlName="liquefaction">
                                <label for="liquefaction">Liquefaction</label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="viscosity" formControlName="viscosity">
                                <label for="viscosity">Viscosity</label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="ph" formControlName="ph">
                                <label for="ph">pH</label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="viability" formControlName="viability">
                                <label for="viability">Viability</label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="motility-active" formControlName="motility_active">
                                <label for="motility-active">Motility: Active </label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="motility-stuggish" formControlName="motility_sluggish">
                                <label for="motility-stuggish">Motility: Stuggish </label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="motility-non-motile" formControlName="motility_non_motile">
                                <label for="motility-non-motile">Motility: Non-motile </label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="count" formControlName="count">
                                <label for="count">COUNT(X 10<sup>6</sup> sperm/ml)</label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="hpf-pus-cell" formControlName="hpf_pus_cell">
                                <label for="hpf-pus-cell">Particulate Debris(HPF): Pus cell</label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="morp-pus-cell" formControlName="morph_pus_cell">
                                <label for="morp-pus-cell">Morphology(%): Pus cells</label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="hpf-rbc" formControlName="hpf_rbc">
                                <label for="hpf-rbc">Particulate Debris(HPF): RBC</label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="morp-rbc" formControlName="morph_rbc">
                                <label for="morp-rbc">Morphology(%): RBC</label>
                            </div>
                        </div>
                        <div class="col m4">
                            <div class="input-field">
                                <input type="text" id="hpf-epithelial" formControlName="hpf_epithelial_cell">
                                <label for="hpf-epithelial">Particulate Debris(HPF): Epithelial</label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="morp-epithelial" formControlName="morph_epithelial_cell">
                                <label for="morp-epithelial">Morphology(%): Epithelial</label>
                            </div>
                        </div>
                    </div>
        </section>
        <section [ngClass]="{'active':activePane===4}" class="input-section animated fadeIn">
                    <h6>STOOL MICROSCOPY</h6>
                    <div class="row">
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="macroscopy-st" formControlName="stool_macroscopy">
                                <label for="macroscopy-st">Macroscopy</label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="wet-preparation" formControlName="wet_preparation">
                                <label for="wet-preparation">Wet Preparation</label>
                            </div>
                        </div>
                        <div class="col m2">
                            <div class="input-field">
                                <input type="text" id="concentration" formControlName="concentration">
                                <label for="concentration">Concentration</label>
                            </div>
                        </div>
                        <div class="col m2">
                            <div class="input-field">
                                <input type="text" id="malaria-parasite" formControlName="malaria_parasite">
                                <label for="malaria-parasite">Malaria Parasite</label>
                            </div>
                        </div>
                        <div class="col m2">
                            <div class="input-field">
                                <input type="text" id="microfilaria-skin" formControlName="microfilaria_skin">
                                <label for="microfilaria-skin">Microfilaria: Skin</label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="microfilaria-blood" formControlName="microfilaria_blood">
                                <label for="microfilaria-blood">Microfilaria: Blood</label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="occult-blood" formControlName="stool_occult_blood">
                                <label for="occult-blood">Stool Occult Blood</label>
                            </div>
                        </div>
                        <div class="col m2">
                            <div class="input-field" >
                                <input type="text" id="vdrl" formControlName="vdrl_test">
                                <label for="vdrl">VDRL Test</label>
                            </div>
                        </div>
                        <div class="col m2">
                            <div class="input-field">
                                <input type="text" id="aso" formControlName="aso_titre">
                                <label for="aso">ASO titre</label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="chlamydia" formControlName="chlamydia_serology">
                                <label for="chlamydia">Chlamydia Serology</label>
                            </div>
                        </div>
                        <div class="col m2">
                            <div class="input-field">
                                <input type="text" id="hepb" formControlName="hepbag">
                                <label for="hepb">Hep B Ag</label>
                            </div>
                        </div>
                        <div class="col m2">
                            <div class="input-field">
                                <input type="text" id="hcv" formControlName="hcv_ab">
                                <label for="hcv">HCV Ab</label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="helicobacter" formControlName="helicobacter">
                                <label for="helicobacter">Helicobacter Pylori Ab</label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="retroviral" formControlName="retroviral_screening" >
                                <label for="retroviral">Retroviral Screening Test</label>
                            </div>
                        </div>

                        <div class="col m4">
                            <div class="input-field">
                                <input type="text" id="retroviral_con" formControlName="retroviral_confirmation" >
                                <label for="retroviral_con">Retroviral Confirmation</label>
                            </div>
                        </div>

                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="cd-count" formControlName="cd4_count">
                                <label for="cd-count">CD<sub>4</sub> Count</label>
                            </div>
                        </div>
                    </div>
        </section>
        <section [ngClass]="{'active':activePane===5}" class="input-section animated fadeIn">
                    <h6>MANTOUX TEST</h6>
                    <div class="row">
                        <div class="col m4">
                            <div class="input-field">
                                <input type="text" id="given" formControlName="given">
                                <label for="given">Given</label>
                            </div>
                        </div>
                        <div class="col m4">
                            <div class="input-field">
                                <input type="text" id="read" formControlName="read">
                                <label for="read">Read</label>
                            </div>
                        </div>
                        <div class="col m4">
                            <div class="input-field">
                                <input type="text" id="result" formControlName="result">
                                <label for="result">Result</label>
                            </div>
                        </div>
                        <h6>SEROLOGICAL TESTS</h6>
                        <div class="col m6">
                            <table class="new-report-table">
                                <caption>WIDAL TEST</caption>
                                <thead>
                                    <tr class="center-align">
                                        <th rowspan="2" class="center-align" width="30%">
                                            Antigen
                                        </th>
                                        <th colspan="2" class="center-align">
                                            Antibody Titre
                                        </th>
                                    </tr>
                                    <tr >
                                        <td class="center-align" width="35%">"O"</td>
                                        <td class="center-align" width="35%">"H"</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>S. Typhi</td>
                                        <td class="table-field" (dblclick)="showTextInput($event)" title="Double click to edit">
                                            <label>Double click to edit</label>
                                            <input type="text" formControlName="s_typhi_o" class="browser-default table-input" (focusout)="hideTextInput($event)">
                                        </td>
                                        <td class="table-field"  (dblclick)="showTextInput($event)" title="Double click to edit">
                                            <label>Double click to edit</label>
                                            <input type="text" formControlName="s_typhi_h" class="browser-default table-input" (focusout)="hideTextInput($event)">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>S. Paratyphi A</td>
                                        <td class="table-field" (dblclick)="showTextInput($event)" title="Double click to edit">
                                            <label>Double click to edit</label>
                                            <input type="text" formControlName="s_paratyphi_a_o" class="browser-default table-input" (focusout)="hideTextInput($event)">
                                        </td>
                                        <td class="table-field" (dblclick)="showTextInput($event)" title="Double click to edit">
                                            <label>Double click to edit</label>
                                            <input type="text" formControlName="s_paratyphi_a_h" class="browser-default table-input" (focusout)="hideTextInput($event)">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>S. Paratyphi B</td>
                                        <td class="table-field" (dblclick)="showTextInput($event)" title="Double click to edit">
                                            <label>Double click to edit</label>
                                            <input type="text" formControlName="s_paratyphi_b_o" class="browser-default table-input" (focusout)="hideTextInput($event)">
                                        </td>
                                        <td class="table-field" (dblclick)="showTextInput($event)" title="Double click to edit">
                                            <label>Double click to edit</label>
                                            <input type="text" formControlName="s_paratyphi_b_h" class="browser-default table-input" (focusout)="hideTextInput($event)">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>S. Paratyphi C</td>
                                        <td class="table-field" (dblclick)="showTextInput($event)" title="Double click to edit">
                                            <label>Double click to edit</label>
                                            <input type="text" formControlName="s_paratyphi_c_o"  class="browser-default table-input" (focusout)="hideTextInput($event)">
                                        </td>
                                        <td class="table-field" (dblclick)="showTextInput($event)" title="Double click to edit">
                                            <label>Double click to edit</label>
                                            <input type="text" formControlName="s_paratyphi_c_h" class="browser-default table-input" (focusout)="hideTextInput($event)">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col m6">
                            <div class="input-field">
                                <input type="text" id="comment" formControlName="comment">
                                <label for="comment">Comment</label>
                            </div>
                        </div>
                    </div>
        </section>
        <section [ngClass]="{'active':activePane===6}" class="input-section animated fadeIn">
                    <h6>Culture</h6>
                    <div class="input-field">
                        <input type="text" id="organism" formControlName="organism_isolated">
                        <label for="organism">Organism(s) isolated</label>
                    </div>
                    <div class="row">
                        <div class="col m7">
                            <table class="med-report-table">
                                <thead>
                                    <tr>
                                        <th rowspan="2">Antimicrobial Agents</th>
                                        <th colspan="4">Sensitivity</th>
                                    </tr>
                                    <tr>
                                        <th >+++</th>
                                        <th>++</th>
                                        <th>+</th>
                                        <th>R</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Amoxyciline/clavulanate</td>
                                        <td>
                                            <label>
                                                <input name="amoxycillin" value="ppp" class="with-gap" type="radio" formControlName="amoxycillin" />
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="amoxycillin" value="pp" class="with-gap" type="radio" formControlName="amoxycillin" />
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="amoxycillin" value="p" class="with-gap" type="radio" formControlName="amoxycillin" />
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="amoxycillin" value="r" class="with-gap" type="radio"  formControlName="amoxycillin"/>
                                                <span></span>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Cefuroxime</td>
                                        <td>
                                            <label>
                                                <input name="cefuroxime" value="ppp" class="with-gap" type="radio" formControlName="cefuroxime" />
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="cefuroxime" value="pp" class="with-gap" type="radio" formControlName="cefuroxime" />
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="cefuroxime" value="p" class="with-gap" type="radio"  formControlName="cefuroxime"/>
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="cefuroxime" value="r" class="with-gap" type="radio" formControlName="cefuroxime" />
                                                <span></span>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Ceftriaxone</td>
                                        <td>
                                            <label>
                                                <input name="ceftriaxone" value="ppp" class="with-gap" type="radio" formControlName="ceftriaxone" />
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="ceftriaxone" value="pp" class="with-gap" type="radio" formControlName="ceftriaxone" />
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="ceftriaxone" value="p" class="with-gap" type="radio" formControlName="ceftriaxone" />
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="ceftriaxone" value="r" class="with-gap" type="radio"  formControlName="ceftriaxone"/>
                                                <span></span>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Ceftazidime</td>
                                        <td>
                                            <label>
                                                <input name="ceftazidime" value="ppp" class="with-gap" type="radio" formControlName="ceftazidime" />
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="ceftazidime" value="pp" class="with-gap" type="radio" formControlName="ceftazidime"/>
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="ceftazidime" value="p" class="with-gap" type="radio" formControlName="ceftazidime"/>
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="ceftazidime" value="r" class="with-gap" type="radio" formControlName="ceftazidime" />
                                                <span></span>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Cotrimoxazole</td>
                                        <td>
                                            <label>
                                                <input name="cotrimoxazole" value="ppp" class="with-gap" type="radio" formControlName="cotrimoxazole"/>
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="cotrimoxazole" value="pp" class="with-gap" type="radio" formControlName="cotrimoxazole" />
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="cotrimoxazole" value="p" class="with-gap" type="radio" formControlName="cotrimoxazole"/>
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="cotrimoxazole" value="r" class="with-gap" type="radio" formControlName="cotrimoxazole" />
                                                <span></span>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Norfloxacin</td>
                                        <td>
                                            <label>
                                                <input name="norfloxacin" value="ppp" class="with-gap" type="radio" formControlName="norfloxacin" />
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="norfloxacin" value="pp" class="with-gap" type="radio" formControlName="norfloxacin" />
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="norfloxacin" value="p" class="with-gap" type="radio" formControlName="norfloxacin" />
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="norfloxacin" value="r" class="with-gap" type="radio"  formControlName="norfloxacin"/>
                                                <span></span>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Tebacylin</td>
                                        <td>
                                            <label>
                                                <input name="tebacylin" value="ppp" class="with-gap" type="radio" formControlName="tebacylin" />
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="tebacylin" value="pp" class="with-gap" type="radio" formControlName="tebacylin"/>
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="tebacylin" value="p" class="with-gap" type="radio" formControlName="tebacylin" />
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="tebacylin" value="r" class="with-gap" type="radio" formControlName="tebacylin" />
                                                <span></span>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Nalidixic Acid</td>
                                        <td>
                                            <label>
                                                <input name="nalidixic_acid" value="ppp" class="with-gap" type="radio" formControlName="nalidixic_acid" />
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="nalidixic_acid" value="pp" class="with-gap" type="radio" formControlName="nalidixic_acid" />
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="nalidixic_acid" value="p" class="with-gap" type="radio" formControlName="nalidixic_acid" />
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="nalidixic_acid" value="r" class="with-gap" type="radio" formControlName="nalidixic_acid"/>
                                                <span></span>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Streptomycin</td>
                                        <td>
                                            <label>
                                                <input name="streptomacycin" value="ppp" class="with-gap" type="radio" formControlName="streptomacycin"/>
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="streptomacycin" value="pp" class="with-gap" type="radio" formControlName="streptomacycin"/>
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="streptomacycin" value="p" class="with-gap" type="radio" formControlName="streptomacycin" />
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="streptomacycin" value="r" class="with-gap" type="radio" formControlName="streptomacycin" />
                                                <span></span>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Septrin</td>
                                        <td>
                                            <label>
                                                <input name="septrin" value="ppp" class="with-gap" type="radio"  formControlName="septrin"/>
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="septrin" value="pp" class="with-gap" type="radio" formControlName="septrin" />
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="septrin" value="p" class="with-gap" type="radio" formControlName="septrin"/>
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="septrin" value="r" class="with-gap" type="radio" formControlName="septrin"/>
                                                <span></span>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Ciprofloxacin</td>
                                        <td>
                                            <label>
                                                <input name="ciprofloxin" value="ppp" class="with-gap" type="radio" formControlName="ciprofloxin"/>
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="ciprofloxin" value="pp" class="with-gap" type="radio" formControlName="ciprofloxin"/>
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="ciprofloxin" value="p" class="with-gap" type="radio" formControlName="ciprofloxin"/>
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="ciprofloxin" value="r" class="with-gap" type="radio" formControlName="ciprofloxin"/>
                                                <span></span>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Chloramphenicol</td>
                                        <td>
                                            <label>
                                                <input name="chloramphenicol" value="ppp" class="with-gap" type="radio" formControlName="chloramphenicol"/>
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="chloramphenicol" value="pp" class="with-gap" type="radio" formControlName="chloramphenicol"/>
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="chloramphenicol" value="p" class="with-gap" type="radio" formControlName="chloramphenicol"/>
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="chloramphenicol" value="r" class="with-gap" type="radio" formControlName="chloramphenicol"/>
                                                <span></span>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Erythromycin</td>
                                        <td>
                                            <label>
                                                <input name="erythromycin" value="ppp" class="with-gap" type="radio" formControlName="erythromycin"/>
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="erythromycin" value="pp" class="with-gap" type="radio" formControlName="erythromycin"/>
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="erythromycin" value="p" class="with-gap" type="radio" formControlName="erythromycin"/>
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="erythromycin" value="r" class="with-gap" type="radio" formControlName="erythromycin" />
                                                <span></span>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Gentamycin</td>
                                        <td>
                                            <label>
                                                <input name="gentymacin" value="ppp" class="with-gap" type="radio" formControlName="gentymacin"/>
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="gentymacin" value="pp" class="with-gap" type="radio" formControlName="gentymacin"/>
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="gentymacin" value="p" class="with-gap" type="radio" formControlName="gentymacin"/>
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="gentymacin" value="r" class="with-gap" type="radio" formControlName="gentymacin"/>
                                                <span></span>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Ofloxacin</td>
                                        <td>
                                            <label>
                                                <input name="ofloxacin" value="ppp" class="with-gap" type="radio" formControlName="ofloxacin" />
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="ofloxacin" value="pp" class="with-gap" type="radio" formControlName="ofloxacin"/>
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="ofloxacin" value="p" class="with-gap" type="radio" formControlName="ofloxacin"/>
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="ofloxacin" value="r" class="with-gap" type="radio" formControlName="ofloxacin"/>
                                                <span></span>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Nitrofurantion</td>
                                        <td>
                                            <label>
                                                <input name="nitrofuratoin" value="ppp" class="with-gap" type="radio" formControlName="nitrofuratoin" />
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="nitrofuratoin" value="pp" class="with-gap" type="radio" formControlName="nitrofuratoin"/>
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="nitrofuratoin" value="p" class="with-gap" type="radio" formControlName="nitrofuratoin"/>
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="nitrofuratoin" value="r" class="with-gap" type="radio" formControlName="nitrofuratoin"/>
                                                <span></span>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Ampiclox</td>
                                        <td>
                                            <label>
                                                <input name="ampiclox" value="ppp" class="with-gap" type="radio" formControlName="ampiclox" />
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="ampiclox" value="pp" class="with-gap" type="radio" formControlName="ampiclox" />
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="ampiclox" value="p" class="with-gap" type="radio" formControlName="ampiclox"/>
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="ampiclox" value="r" class="with-gap" type="radio" formControlName="ampiclox"/>
                                                <span></span>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Amoxycilin</td>
                                        <td>
                                            <label>
                                                <input name="amoxycilin" value="ppp" class="with-gap" type="radio" formControlName="amoxycilin"/>
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="amoxycilin" value="pp" class="with-gap" type="radio" formControlName="amoxycilin"/>
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="amoxycilin" value="p" class="with-gap" type="radio" formControlName="amoxycilin" />
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="amoxycilin" value="r" class="with-gap" type="radio" formControlName="amoxycilin"/>
                                                <span></span>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Clindamycin</td>
                                        <td>
                                            <label>
                                                <input name="clindamycin" value="ppp" class="with-gap" type="radio" formControlName="clindamycin"/>
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="clindamycin" value="pp" class="with-gap" type="radio" formControlName="clindamycin"/>
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="clindamycin" value="p" class="with-gap" type="radio" formControlName="clindamycin"/>
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="clindamycin" value="r" class="with-gap" type="radio" formControlName="clindamycin"/>
                                                <span></span>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Levofloxcin</td>
                                        <td>
                                            <label>
                                                <input name="levofloxcin" value="ppp" class="with-gap" type="radio" formControlName="levofloxcin"/>
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="levofloxcin" value="pp" class="with-gap" type="radio" formControlName="levofloxcin"/>
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="levofloxcin" value="p" class="with-gap" type="radio" formControlName="levofloxcin"/>
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input name="levofloxcin" value="r" class="with-gap" type="radio" formControlName="levofloxcin"/>
                                                <span></span>
                                            </label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
        </section>
    </form>
</div>
<div class="action-buttons">
    <div class="row">
      <div class="col s1">
        <button (click)="prevPane()"  *ngIf="showPrevBtn" type="button" class="btn btn-large waves-effect">Previous</button>
      </div>
      <div class="col offset-s8 s3">
        <button type="button" *ngIf="showNextBtn" class="btn btn-large waves-effect" id="next-btn" (click)="nextPane()" >Next</button>
        <button type="button" *ngIf="showSave" class="btn btn-large waves-effect" [disabled]="saving"  (click)="handleSubmit($event)" >{{saveBtnText}}</button>
      </div>

    </div>
  </div>