
.print-brand{
  // border-left: solid 1px;

  // margin-bottom: 0 !important;
  // height: 100%;
  // padding-top: 60px;
  // padding-bottom: 20px;
  // text-align: center;

  // h2,h5{
  //   margin: 0;
  //   font-size: 200%;
  // }
}

.print-header{
  border-bottom: solid 1px;
  margin-bottom:20px;
  display: flex;
  justify-content: space-between;


  .wrapper{
    display:flex;
  }

  .print-brand{
    width:70%;
    text-align:center;

    h2,h5{
      margin:0;
      padding: 0 !important;
      font-family:sans-serif;
    }
  }


}

.print-footer{
  p{
    font-size: .9em;
    line-height:0;
  }
}

.services{
  // border-left: solid 1px;
  // padding-left: 10px;

  ul{
    list-style: square !important;
  }

  li{
    font-size: .85em;
    line-height:15px;
  }
}