<div class="print-page">
  <div class="  fadeInUp">
  <div class="print-header print">
    <div class="wrapper">
      <div class="print-logo center-align">
        <img [src]="logo" width="150px">
      </div>
      <div class="print-brand">
        <h2>{{labName}}</h2>
        <h5>{{subName}}</h5>
      </div>
      <div class="services">
        <ul>
           <li>ECG</li>
          <li>Digital Mammography</li>
          <li>Special X-ray investigation</li>
          <li>USS</li>
          <li>Automated</li>
          <li>Pap Smear</li>
        </ul>
      </div> 
    </div>
  </div>
  <ng-content></ng-content>
  <div class="print-footer print">
    <div class="signatry">
      <div class="row">
        <div class="col m5">
          <p>MEDICAL LAB SCIENTIST ...........................................</p>
        </div>
        <div class="col m2">
        </div>
        <div class="col m5">
          <p style="margin-left:100px;">DATE...............................................</p>
        </div>
      </div>
    </div>
    <hr>
    <div class="row ">
      <div class="col m10">
        <div class="center-align print-footer">
          <p class="center-align"><strong>Contact Us: </strong> Tel: {{phoneNo}}, Email:  {{email}} </p>
          <p>Address: {{address}}</p>
          <!-- <p>Plot 8 G/Line, Evet Housing Estate, (Behind Ultrafit/Along Kings & Queen Road) Uyo, Akwa Ibom State, Nigeria</p>
          <p>Tel +234-85-290368, +234-8080627497, +234-8135115577, Email: streamtrustdianostic@yahoo.com </p>
          <p>COLLECTION CENTRE: BENEAT CLENO By University of Uyo Teaching Hospital Gate, Abak Road, Uyo.</p>
        --> </div>
      </div>
    </div>
  </div>
</div>
  <div class="fixed-action-btn">
    <button class="btn-floating btn-large red" (click)="printPage()">
    <i class="large material-icons">print</i>
    </button>
  </div>
</div>