<app-title-panel title="Radiological Request details">
	<li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Dashboard</a></li>
	<li class="breadcrumb-item"><a [routerLink]="['/radiological-request/requests']">Radiological Requests details</a> </li>
</app-title-panel>
<div class="page-content">
	<div class="card-panel">
	<app-loading [showLoading]="loading"></app-loading>
	<div class="center-align" *ngIf="errorOccurred">
		<p>An error occurred content could not be loaded</p>
		<button  class="btn waves-effect" (click)="getRequest()">Try again</button>
	</div>
	<div *ngIf="!loading && !errorOccurred">
		<table>
			<thead>
				<tr>
					<th>S/N</th>
					
					<th width="40%">
						Investigation
					</th>
					<th>Options</th>
					<th>
						<i class="material-icons">check</i>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					
				</tr>
				<tr *ngFor="let inv of investigations.slice(2); let i = index" [ngClass]="{'print-only-row': !wasSelected(inv) }">
					<td>{{i+1}}</td>
					<td>{{inv.name}}</td>
					<td>
						<div class="row option-row">
							<div class="col" *ngFor="let option of inv.options" >
								<span class="check-box">
									<i class="material-icons" *ngIf="option.selected">check</i>
								</span>
								<span [innerHTML]="option.value"></span>
							</div>
						</div>
					</td>
					<td>
						<i class="material-icons" *ngIf="wasSelected(inv)">check</i>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="fixed-action-btn">
	<button class="btn-floating btn-large red" (click)="printPage()">
	<i class="large material-icons">print</i>
	</button>
</div>
</div>