.option-row{
	margin:0 !important;
}

th,td{
      border:1px solid rgba(0,0,0,0.12);;
      padding:5px !important;


}

tr>td:first-child{
	text-align:center;
}

.material-icons{
	font-size:18px;
	margin:0 !important;
	padding: 0 !important;
	line-height:0;
	height:10px;
}

.print-only-row{
	display:none;
}

.check-box{
	 border:1px solid rgba(0,0,0,0.12);
	height:20px;
	width:20px;
	display:block;
	float:left;
	margin-right:5px;
}