<app-title-panel title="New Radiological Request">
    <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Dashboard</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/radiological-request/new']">New Radiological Request</a> </li>
</app-title-panel>
<div class="page-content">
    <div class="report-wrapper">
        <div *ngIf="showLoading" class="progress">
            <div class="indeterminate"></div>
        </div>


        <div class="customer-info  input-section animated slideInLeft" [ngClass]="{'active':showBasicInfo}">
            <div class="card-panel">
                <div class="card-title">
                    <h5>Basic Information</h5>
                </div>
                <div class="card-content">
                    <form [formGroup]="basicForm">
                        <div class="row">
                            <div class="col m3">
                                <div class="input-field">
                                    <input type="text" id="surname" formControlName="surname">
                                    <label for="surname">Surname</label>
                                </div>
                            </div>
                            <div class="col m3">
                                <div class="input-field">
                                    <input type="text" id="first-name" formControlName="first_name">
                                    <label for="first-name">First name</label>
                                </div>
                            </div>
                            <div class="col m3">
                                <div class="input-field">
                                    <input type="text" id="last-name" formControlName="middle_name">
                                    <label for="last-name">Middle name</label>
                                </div>
                            </div>
                            <div class="col m3">
                                <div class="input-field">
                                    <input type="text" id="age" formControlName="age">
                                    <label for="age">Age</label>
                                </div>
                            </div>
                            <div class="col m3">
                                <p>Sex</p>
                                <p><label>
                                    <input name="sex" value="Male" type="radio" formControlName="sex"/>
                                    <span>Male</span>
                                </label>
                                <label>
                                    <input name="sex" value="Female" type="radio" formControlName="sex"/>
                                    <span>Female</span>
                                </label>
                            </p>
                        </div>
                        <!--<div class="col m3">-->
                        <!--<div class="input-field">-->
                        <!--<input type="text" id="date" class="datepicker">-->
                        <!--<label for="date">Date</label>-->
                        <!--</div>-->
                        <!--</div>-->
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="lmp" class=""formControlName="lmp">
                                <label for="lmp">LMP</label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="phone-no" formControlName="phone_no">
                                <label for="phone-no">Phone No</label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="address" formControlName="address">
                                <label for="address">Address</label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="occupation" formControlName="occupation">
                                <label for="occupation">Occupation</label>
                            </div>
                        </div>
                    </div>
                
                </form>
            </div>
        </div>
    </div>
        
        <div class="card-panel input-section  " [ngClass]="{'active':!showBasicInfo}">
            <div class="card-title">
                <h5>Investigation</h5>
            </div>
            <div class="divider"></div>
            <div class="card-content">
                <form>
                    <div class="input-field col s12">
                        <select multiple (change)="handleTestsSelected($event)">
                            <option value="" disabled >Select investigation or Digital X-ray needed</option>
                            <optgroup label="Investigation">
                                <option value="1">Pap Smear</option>
                                <option value="2">Mammography</option>
                            </optgroup>
                            <optgroup label="Digital X-Ray">
                                <option value="3">Chest</option>
                                <option value="4">Cervical Spine</option>
                                <option value="5">Soft Tissue</option>
                                <option value="6">Thoracolumbar</option>
                                <option value="7">Lumbosacral Spin</option>
                                <option value="8">Clavicle</option>
                                <option value="9">Shoulder Join</option>
                                <option value="10">Skull</option>
                                <option value="11">Sinuses</option>
                                <option value="12">Temporamandibular (TMJ) </option>
                                <option value="13">Mandible</option>
                                <option value="14">Mastoids</option>
                                <option value="15">Sella Turcica</option>
                                <option value="16">Orbits</option>
                                <option value="17">Optic Foramina</option>
                                <option value="18">Jugular Foramina</option>
                                <option value="19">Post Nasal Space</option>
                                <option value="20">Pharynx/Upper way</option>
                                <option value="21">Thoracic Inlet</option>
                                <option value="22">Pelvis</option>
                                <option value="23">Hip Join</option>
                                <option value="24">Femur(Thigh)</option>
                                <option value="25">Knee Join</option>
                                <option value="26">Leg(Tibia/Fibula)</option>
                                <option value="27">Ankle Join</option>
                                <option value="28">Foot</option>
                                <option value="29">Hand</option>
                                <option value="30">Calcaneum</option>
                                <option value="31">Wrist Joint</option>
                                <option value="32">Elbow Joint</option>
                                <option value="33">Forearm (Radius/Ulna)</option>
                                <option value="34">Arm (Humerus)</option>
                                <option value="35">Abdomen</option>
                                <option value="36">Skeletal Survey</option>
                            </optgroup>
                            <optgroup label="Special Investigation">
                                <option value="37">Instrvenous Urography (IVU) - Non-Ionic Contrast</option>
                                <option value="38">Hysterosalpingography (HSG)</option>
                                <option value="39">Barium Swallow</option>
                                <option value="40">Barium Meal</option>
                                <option value="41">Baruim Meal & Follow Through</option>
                                <option value="42">Double Contrast Barium Enema</option>
                                <option value="43">Retrograde Urethrocystography (RUGG)</option>
                                <option value="44">Micturating Urethrocystography (MUCG)</option>
                                <option value="45">RUCG + MUCG</option>
                                <option value="46">Fistulography</option>
                            </optgroup>
                            <optgroup label="Ultrasonography">
                                <option value="47">Doppler/Vascular Studies</option>
                                <option value="48">Abdominopelvic Scan</option>
                                <option value="49">Pelvic Scan</option>
                                <option value="50">Abdominal</option>
                                <option value="51">Transvaginal</option>
                                <option value="52">Thyroid/Neck Scan</option>
                                <option value="53">Breast USS</option>
                                <option value="54">Scrotal USS</option>
                                <option value="55">Transrectal USS</option>
                                <option value="56">Ocular Scan</option>
                                <option value="57">Obsteric Scan</option>
                                <option value="58">Prostate Scan</option>
                                <option value="59">Biophysical Profile</option>
                                <option value="60">Musculoskeletal Scan</option>
                                <option value="61">USS Guided drainage</option>
                                <option value="62">Uss Guided biospy</option>
                                <option value="63">Follicular Tracking</option>
                                <option value="64">Transfontanelle Scan</option>
                                <option value="65">Anomaly Scan</option>
                                <option value="66">Renal scan</option>
                            </optgroup>
                        </select>
                    </div>
                    <div>
                        <ul class="collection with-header">
                            <!--<li class="collection-header"><h4>First Names</h4></li>-->
                            <li class="collection-item" *ngFor="let test of selectedTests; let i=index ">
                                <div>
                                    <span>{{test.name}}</span>
                                    <span class="secondary-content">
                                        <span class="test-checkbox" *ngFor="let option of test.options">
                                            <label>
                                                <input type="checkbox" [checked]="option.selected" (change)="option.selected=!option.selected"/>
                                                <span [innerHTML]="option.value"></span>
                                            </label>
                                        </span>
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="action-buttons">
<div class="row">
    <div class="col s1">
        <button type="button" *ngIf="!showBasicInfo" (click)="prevPane()" class="btn waves-effect waves-light btn-large waves-effect">Previous</button>
    </div>
    <div class="col offset-s8 s3">
        <button type="button" *ngIf="showBasicInfo" (click)="nextPane()" class="btn waves-effect waves-light btn-large waves-effect">Next</button>
        <button type="button" [disabled]="showLoading" *ngIf="!showBasicInfo" class="btn waves-effect waves-light btn-large waves-effect" id="next-btn" (click)="saveReport()">Save Request</button>
    </div>
</div>
</div>
