<app-title-panel title="Haematology report update">
  <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Dashboard</a></li>
   <li class="breadcrumb-item"><a [routerLink]="['/haematology/reports']">Haematology Reports</a></li>
  <li class="breadcrumb-item"><a [routerLink]="['haematology/edit/'+id]">Haematology report update</a> </li>
</app-title-panel>
<div class="page-content">
	<app-linear-loading [showLoading]="saving"></app-linear-loading>
	<connection-error [show]="conError" [retryCb]="getReport"></connection-error>
	<server-error [show]="serverError" [retryCb]="getReport"></server-error>
	<app-loading [showLoading]="loadingReport" loadingInfo="Loading report data please wait" ></app-loading>
	<hem-report-form [saving]="saving"  *ngIf="!loadingReport && !conError && !serverError" (submit)="onSubmit($event)" [report]='report' saveBtnText="Update Report" ></hem-report-form>
</div>