<app-title-panel title="Dashboard">
	<li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Dashboard</a></li>
	<li class="breadcrumb-item"><a [routerLink]="['/manage-labs']">Manage Labs</a> </li>
</app-title-panel>
<div class="page-content">
	<div class="card-panel">
		<div class="right-align">
			<button class="waves-effect waves-light btn-large btn modal-trigger" data-target="lab-modal"><i class="material-icons left">add</i>Add New</button>
		</div>
		
	</div>
<app-loading [showLoading]='loadingLabs'></app-loading>
<connection-error [show]="!loadingLabs && conError " [retryCb]="getLabs"></connection-error>
<server-error [show]="serverError && !loadingLabs" [retryCb]="getLabs"></server-error>
<app-linear-loading [showLoading]="deleting"></app-linear-loading>
<no-record [show]='matDatasource.data.length==0 && !loadingLabs && !conError && !serverError'>There is currently no haematology report</no-record>
<div class="card-panel near-loading" *ngIf="matDatasource.data.length>0 && !loadingLabs && !conError && !serverError">
<div class="">
	<div class="row">
		<div class="col m3 offset-m9">
			<div class="input-field" >
				<input type="text" id="filter" (keyup)="filterTable($event.target.value)">
				<label for="filter">Filter</label>
			</div>
		</div>
	</div>
	<table mat-table [dataSource]="matDatasource" matSort *ngIf="matDatasource.data.length!==0">
		<ng-container matColumnDef="id">
		<th mat-header-cell *matHeaderCellDef> ID </th>
		<td mat-cell *matCellDef="let lab"> {{lab.id}} </td>
		</ng-container>
		<ng-container matColumnDef="lab_name">
		<th mat-header-cell *matHeaderCellDef> Lab Name </th>
		<td mat-cell *matCellDef="let lab"> {{ lab.lab_name}} </td>
		</ng-container>
		<ng-container matColumnDef="location">
		<th mat-header-cell *matHeaderCellDef> Location </th>
		<td mat-cell *matCellDef="let lab"> {{lab.location}} </td>
		</ng-container>
		<ng-container matColumnDef="username">
		<th mat-header-cell *matHeaderCellDef> Username </th>
		<td mat-cell *matCellDef="let lab"> {{lab.username}} </td>
		</ng-container>

		<ng-container matColumnDef="password">
            <th mat-header-cell *matHeaderCellDef> Password </th>
            <td mat-cell *matCellDef="let lab"><button (click)="changePassword(lab.id)"  class="btn blue accent-3"><i class="material-icons">edit</i></button></td>
         </ng-container>

		 <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> Edit </th>
            <td mat-cell *matCellDef="let lab"><button (click)="editLab(lab)"  class="btn green accent-3"><i class="material-icons">edit</i></button></td>
         </ng-container>

		<ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let lab; let i = index;"><button *ngIf="lab.admin!=1" (click)="deleteLab(lab.id,i)" [disabled]="deleting" class="btn red accent-3"><i class="material-icons">delete</i></button></td>
         </ng-container>

        

	<tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
	<tr mat-row *matRowDef="let row; columns: columnsToDisplay; let i = index;"></tr>
</table>
<mat-paginator [pageSize]="10"
[pageSizeOptions]="[5, 10, 20]"
showFirstLastButtons
*ngIf="matDatasource.data.length!==0"
>
</mat-paginator>
</div>
</div>
</div>



<div id="lab-modal" #labmodal class="modal " >
<form [formGroup]="labForm" (ngSubmit)="handleForm()">
<div class="modal-content">
<div class="row">
<div class="col m10">
	<h4>{{modalTitle}}</h4>
</div>
<div class="col m2">
	<div class="preloader-wrapper active" *ngIf="loading">
		<div class="spinner-layer spinner-blue-only">
			<div class="circle-clipper left">
				<div class="circle"></div>
			</div><div class="gap-patch">
			<div class="circle"></div>
		</div><div class="circle-clipper right">
		<div class="circle"></div>
	</div>
</div>
</div>
</div>
</div>
<div class="row">
		<div class="col m6">
			<div class="input-field">
				<input type="text" id="lab-name" formControlName="lab_name" class="validate" required />
				<label for="lab-name">Lab Name</label>
			</div>
		</div>
	<div class="col m6">
		<div class="input-field">
			<input type="text" id="location" formControlName="location"  class="validate" required/>
			<label for="location">Location</label>
		</div>
	</div>
	<div class="col m6">
		<div class="input-field">
			<input type="text" id="username" formControlName="username"  class="validate" required/>
			<label for="username">Username</label>
		</div>
	</div>
	<div class="col m6" *ngIf="!updating">
		<div class="input-field">
			<input type="password" id="password" formControlName="password"  class="validate" required />
			<label for="password">Password</label>
		</div>
	</div>
	</div>
	<div class="input-field" *ngIf="!updating">
		<input type="password" id="confirm-password" formControlName="confirmPassword"  class="validate" required />
		<label for="confirm-password">Confirm Password</label>
</div>
</div>
<div class="modal-footer">
	<button type="button" class="modal-close waves-effect waves-green btn-flat">Close</button>
	<button type="submit" class="waves-effect waves-green btn-flat" [disabled]="loading">{{modalBtnText}}</button>
	</div>
</form>
</div>



















<div  #password class="modal" >
<form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
<div class="modal-content">
<div class="row">
<div class="col m10">
	<h4>Change Password</h4>
</div>
<div class="col m2">
	<div class="preloader-wrapper active" *ngIf="changingPassword">
		<div class="spinner-layer spinner-blue-only">
			<div class="circle-clipper left">
				<div class="circle"></div>
			</div>
			<div class="gap-patch">
			<div class="circle"></div>
		</div>
		<div class="circle-clipper right">
		<div class="circle"></div>
		</div>
	</div>
</div>
</div>
</div>
<div class="row">
		<div class="input-field">
			<input type="password" id="password2" formControlName="password"  class="validate" required />
			<label for="password2">Password</label>
		</div>
	<div class="input-field" *ngIf="!updating">
		<input type="password" id="confirm-password2" formControlName="confirmPassword"  class="validate" required />
		<label for="confirm-password2">Confirm Password</label>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="modal-close waves-effect waves-green btn-flat">Close</button>
	<button type="submit" class="waves-effect waves-green btn-flat" [disabled]="changingPassword">Change Password</button>
	</div>
</div>
</form>
</div>