 <div class="card-panel near-loading">
    <div class="card-title">
      <h5>Basic Information</h5>
    </div>
    <div class="card-content">
      <form [formGroup]="patientForm" >
        <div class="row">
          <div class="col m4">
            <div class="input-field">
              <input type="text" id="surname" formControlName="surname" required>
              <label for="surname"  >Surname</label>
            </div>
          </div>
          <div class="col m4">
            <div class="input-field">
              <input type="text" id="first-name" formControlName="first_name" required>
              <label for="first-name" >First name</label>
            </div>
          </div>
          <div class="col m4">
            <div class="input-field">
              <input type="text" id="middle-name" formControlName="middle_name">
              <label for="middle-name">Middle name</label>
            </div>
          </div>
          <div class="col m4">
            <div class="input-field">
              <input type="number" id="age" formControlName="age" required>
              <label for="age">Age</label>
            </div>
          </div>
          <div class="col m4">
            <p>Sex</p>
            <p><label>
              <input name="sex" type="radio" class="with-gap"  value="Male" formControlName="sex" required/>
              <span>Male</span>
            </label>
              <label>
                <input name="sex" type="radio" class="with-gap"  value="Female" formControlName="sex" required/>
                <span>Female</span>
              </label>
            </p>
          </div>
          
          <!-- <div class="col m3">
            <div class="input-field">
              <input type="text" id="requested-by" formControlName="requested_by">
              <label for="requested-by">Requested By</label>
            </div>
          </div> -->
          <div class="col m4">
	          <div class="input-field">
		          <input type="text" id="email" formControlName="email">
		          <label for="email">Email</label>
	          </div>
          </div>
        </div>
        <div class="row">
          <div class="col m4">
	          <div class="input-field">
		          <input type="text" id="phone_no" formControlName="phone_no" required>
		          <label for="phone_no">Phone number</label>
	          </div>
          </div>
          <!-- <div class="col m3">
            <div class="input-field">
              <input type="text" id="clinical_detail" formControlName="clinical_detail">
              <label for="clinical_detail">Clinical details</label>
            </div>
          </div> -->
        </div>
        <div class="row">
          
          <!-- <div class="col m3">
            <div class="input-field">
              <input type="text" id="exam-required" formControlName="exam_required">
              <label for="exam-required">Exam required</label>
            </div>
          </div> -->
         <!--  <div class="col m3">
            <div class="input-field">
              <input type="text" id="specimen" formControlName="specimen">
              <label for="specimen">Specimen</label>
            </div>
          </div> -->
         <!--  <div class="col m3">
            <div class="input-field">
              <input type="text" id="clinic" formControlName="clinic">
              <label for="clinic">Clinic</label>
            </div>
          </div> -->
          <div class="col m12">
          		<button type="button" (click)="onSubmit()" class="btn btn-large" [disabled]="!patientForm.valid || disableBtn ">{{saveBtnText}}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
