<app-title-panel title="Medical Microbiology and Parasitology report update">
    <li class="breadcrumb-item"><a [routerLink]="['/dashboard']" >Dashboard</a></li>
     <li class="breadcrumb-item"><a [routerLink]="['/medical-microbiology-and-parasitology/reports']" >Reports</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/medical-microbiology-and-parasitology/edit/'+id]">Update report</a> </li>
</app-title-panel>

	<connection-error [show]="conError" [retryCb]="getReport"></connection-error>
	<server-error [show]="serverError" [retryCb]="getReport"></server-error>
	<app-loading [showLoading]="loadingReport" loadingInfo="Loading report data please wait" ></app-loading>

<div class="page-content">
	<app-linear-loading [showLoading]="saving"></app-linear-loading>
	<med-microbiology-form [saving]="saving" 
							[report]="report" 
							(submit)="onSubmit($event)" 
							saveBtnText="Update Report" 
							*ngIf="!loadingReport && !conError && !serverError">
								
	</med-microbiology-form>
</div> 