<app-title-panel title="Dashboard">
	<li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Home</a></li>
	<li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Dashboard</a> </li>
</app-title-panel>





<div class="page-content">

	<connection-error [show]="conError" [retryCb]="getSummary"></connection-error>
	 <server-error [show]="serverError" [retryCb]="getSummary"></server-error>
	 <app-loading [showLoading]="loadingDetails" loadingInfo="Loading summary  please wait" ></app-loading>

	<div class="dashboard" *ngIf="!loadingDetails && !conError && !serverError" class="animated fadeIn">
		<div class="summaries">
			<div class="row">
				<div class="col s3">
					<div class="summary white">
						<div class="row">
							<div class="col s4">
								<div class="icon blue lighten-1 z-depth-3">
									<i class="material-icons">add_to_queue</i>
								</div>
							</div>
							<div class="col s8">
								<p class="header">Haematology</p>
								<p >{{total?.heamatology}} reports</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col s3">
					<div class="summary white">
						<div class="row">
							<div class="col s4">
								<div class="icon  purple lighten-2 z-depth-3">
									<i class="material-icons">assistant</i>
								</div>
							</div>
							<div class="col s8">
								<p class="header">Chemical Pathology</p>
								<p >{{total?.chemical_pathology}} reports</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col s3">
					<div class="summary white">
						<div class="row">
							<div class="col s4">
								<div class="icon amber darken-4 z-depth-3">
									<i class="material-icons">gps_fixed</i>
								</div>
							</div>
							<div class="col s8">
								<p class="header">Medical Microbiology</p>
								<p >{{total?.medical_microbiology}} reports</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col s3">
					<div class="summary white">
						<div class="row">
							<div class="col s4">
								<div class="icon  pink darken-1 z-depth-3">
									<i class="material-icons">person</i>
								</div>
							</div>
							<div class="col s8">
								<p class="header">Patients</p>
								<p >{{total?.patients}} Patients</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="recent-activities">
			<div class="row">
				<div class="col m6">
					<div class="card">
						<div class="card-content">
						<span class="card-title">Recent Haematology Reports</span>
						<table>
								<thead>
									<tr>
										<th>Patient name</th>
										<th>View</th>
										<th>Edit</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let report  of recent?.heamatology; let i =index">
										<td>{{report.patient.first_name+' '+report.patient.surname }}</td>
										<td><a [routerLink]="['/haematology/reports/'+report.id]">View</a></td>
										<td><a [routerLink]="['/haematology/edit/'+report.id]"class="btn green accent-3"><i class="material-icons">edit</i></a></td>
									</tr>
								</tbody>
							</table>
						</div>
						
					</div>
				</div>
				<div class="col m6">
					<div class="card">
						<div class="card-content">
							<span class="card-title">Recent Chemical pathology Reports</span>
						
							<table>
							<thead>
								<tr>
									<th>Patient name</th>
									<th>View</th>
									<th>Edit</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let report  of recent?.chemical_pathology; let i =index">
										<td>{{report?.patient?.first_name+' '+report?.patient?.surname }}</td>
										<td><a [routerLink]="['/chemical-pathology/reports/'+report.id]">View</a></td>
										<td><a [routerLink]="['/chemical-pathology/edit/'+report.id]"class="btn green accent-3"><i class="material-icons">edit</i></a></td>
									</tr>
							</tbody>
						</table>
						</div>
						
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col m6">
					<div class="card">
						<div class="card-content">
							<span class="card-title">Recent Medical Microbiology Reports</span>
						
							<table>
							<thead>
								<tr>
									<th>Patient name</th>
									<th>View</th>
									<th>Edit</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let report  of recent?.medical_microbiology; let i =index">
										<td>{{report?.patient?.first_name+' '+report?.patient?.surname }}</td>
										<td><a [routerLink]="['/medical-microbiology-and-parasitology/reports/'+report.id]">View</a></td>
										<td><a [routerLink]="['/medical-microbiology-and-parasitology/edit/'+report.id]"class="btn green accent-3"><i class="material-icons">edit</i></a></td>
									</tr>
							</tbody>
						</table>
						</div>
						
					</div>
				</div>
				<div class="col m6">
					<!-- <div class="card">
						<div class="card-content">
							<span class="card-title">Recent Radiological Requests</span>

							<table>
							<thead>
								<tr>
									<th>Patient name</th>
									<th>View</th>
									<th>Edit</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let report  of recent?.radiological_request; let i =index">
										<td>{{report.first_name+' '+report.surname }}</td>
										<td><a [routerLink]="['/radiological-request/requests/'+report.id]">View</a></td>
										<td><a [routerLink]="['/radiological-request/edit/'+report.id]"class="btn green accent-3"><i class="material-icons">edit</i></a></td>
									</tr>
							</tbody>
						</table>
						</div>
						
					</div>
				</div> -->
			</div>
		</div>
	</div>
</div>