<div class="customer-info animated slideInLeft report-panel">
  <div class="card-panel">
    <div class="card-title">
      <h5>Basic Information</h5>
    </div>
    <div class="card-content">
      <form [formGroup]="basicInfoForm">
        <div class="row">
           <div class="input-field">
              <input type="text" id="lab-no" formControlName="lab_no">
              <label for="lab-no"  >Laboratory Number</label>
            </div>
          <div class="col m3">
            <div class="input-field">
              <input type="text" id="surname" formControlName="surname">
              <label for="surname"  >Surname</label>
            </div>
          </div>
          <div class="col m2">
            <div class="input-field">
              <input type="text" id="first-name" formControlName="first_name">
              <label for="first-name" >First name</label>
            </div>
          </div>
          <div class="col m2">
            <div class="input-field">
              <input type="text" id="middle-name" formControlName="middle_name">
              <label for="middle-name">Middle name</label>
            </div>
          </div>
          <div class="col m2">
            <div class="input-field">
              <input type="text" id="age" formControlName="age">
              <label for="age">Age</label>
            </div>
          </div>
          <div class="col m3">
            <p>Sex</p>
            <p><label>
              <input name="sex" type="radio" class="with-gap"  value="Male" formControlName="sex"/>
              <span>Male</span>
            </label>
              <label>
                <input name="sex" type="radio" class="with-gap"  value="Female" formControlName="sex"/>
                <span>Female</span>
              </label>
            </p>
          </div>
          <div class="col m3">
            <div>
                <div class="input-field">
                    <input type="text" id="date" class="datepicker" formControlName="date">
                    <label for="date" class="active">Date</label>
                </div>
            </div>
          </div>
          <div class="col m3">
            <div class="input-field">
              <input type="text" id="time" class="timepicker" formControlName="time">
              <label for="time">Time</label>
            </div>
          </div>
          <div class="col m3">
            <div class="input-field">
              <input type="text" id="requested-by" formControlName="requested_by">
              <label for="requested-by">Requested By</label>
            </div>
          </div>
          <div class="col m3">
          <div class="input-field">
          <input type="text" id="email" formControlName="email">
          <label for="email">Email</label>
          </div>
          </div>
        </div>
        <!-- <h6>Clinical Details</h6> -->
        <div class="row">
          <div class="col m3">
            <div class="input-field">
              <input type="text" id="clinical_detail" formControlName="clinical_detail">
              <label for="clinical_detail">Clinical details</label>
            </div>
          </div>
          <div class="col m3">
            <div class="input-field">
              <input type="text" id="exam-required" formControlName="exam_required">
              <label for="exam-required">Exam required</label>
            </div>
          </div>
          <div class="col m3">
            <div class="input-field">
              <input type="text" id="specimen" formControlName="specimen">
              <label for="specimen">Specimen</label>
            </div>
          </div>
          <div class="col m3">
            <div class="input-field">
              <input type="text" id="clinic" formControlName="clinic">
              <label for="clinic">Clinic</label>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
