<app-title-panel title="Update Patient record">
	<li class="breadcrumb-item"><a [routerLink]="['/dashboard']" >Dashboard</a></li>
	<li class="breadcrumb-item"><a [routerLink]="['/patients']" >View Patients</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/patient/edit/'+id]">Update patient record</a> </li>
</app-title-panel>
<div class="page-content">

	<connection-error [show]="conError" [retryCb]="getPatient"></connection-error>
	<server-error [show]="serverError" [retryCb]="getPatient"></server-error>
	<app-loading [showLoading]="loadingPatient" loadingInfo="Loading patients records please wait" ></app-loading>

	<app-linear-loading  [showLoading]="loading"></app-linear-loading>
	<app-patient-form (submit)="handleSubmit($event)" 
						[disableBtn] ="loading" 
						[patient]="patient"
						*ngIf="!loadingPatient && !serverError && !conError"
						[saveBtnText]="saveBtnText">
	</app-patient-form>
</div>