@import '../node_modules/material-design-icons/iconfont/material-icons.css';
@import '../node_modules/typeface-roboto/index.css';
@import "../node_modules/materialize-css/sass/materialize";
@import "../node_modules/animate.css/animate.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/toastr/toastr";
@import "palette";

$color-success: rgb(39, 174, 96);
$color-default: rgb(255, 255, 255);
$color-info: rgb(41, 128, 185);
$color-error: rgb(192, 57, 43);
$color-warning: rgb(243, 156, 18);
$background-color:#e6e6e6;


body,html{
  background: $background-color;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  height:100%;


  &::-webkit-scrollbar {
      width: 8px;
    }


    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      background-color: $divider-color;
      padding: 5px 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 50px;
      transition:  1s;
      // height:50px;

    }

    &::-webkit-scrollbar-thumb:hover {
      transition:  1s;
      background: $primary-color;
    }
  
}

/*header section */
header{
  margin-left: 281px;

  nav{
    background: $primary-color;
    height: 80px;
  }

  .toggle{
    line-height: 90px;
    background: transparent;
    border: none;
    outline: none;
    color: $primary-color-text;


    i{
      font-size: 2.2em;
      line-height:80px;
    }
  }
}

/* Master sidebar */
.sidebar{
  position: fixed;
  width: 280px;
  height: 100%;
  top: 0;
  z-index: 500;


  .brand{
    background: $primary-color-dark;
    padding: 18px 10px;

    a{
      font-size: 2.2em;
      color: $primary-color-text;
      padding: 0 !important;
      margin: 0 !important;
      line-height: 0;

    }

    p{
      color: $primary-color-text;
      margin: 0 !important;
      padding: 0 !important;

    }
  }
  .sidebar-body{
    height: 100%;
    width: 100%;
    position: relative;
    background: url("assets/images/lab_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:right;
    top: 0;
    margin: 0;

  }
  .sidebar-time{
    background: white;
    text-align: center;
    padding: 35px 0;
    border-bottom: solid 1px $divider-color;

    .time{
      margin: 0 !important;
      padding: 0!important;
      font-size: 4em;
      line-height: 30px;
      color: $secondary-text-color;
      font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .date{
      font-size: .9em;
      color: $secondary-text-color;
    }

  }
  .overlay{
    background: transparentize(white,.1);
    position: absolute;
     min-height: 150%;
    width: 100%;
   
    .waves-effect{
      display: block !important;
    }

  }

  .wrapper{
   
   

    
  }

  .sidebar-nav{
    position: relative;
    width: 100%;
    z-index: 500;
    height:100%;
    overflow-y:scroll;



    &::-webkit-scrollbar {
      width: 8px;
    }


    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      background-color: $divider-color;
      padding: 5px 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 50px;
      transition:  1s;
      // height:50px;

    }

    &::-webkit-scrollbar-thumb:hover {
      transition:  1s;
      background: $primary-color;
    }





   


    
    .links{
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 50px;

      .active{
        background: white;
      }
      a{
        color: darken($secondary-text-color,20%);
        padding: 20px 10px;
        overflow: hidden;
        display: block;
        transition: background .5s;

        &:hover{
          background: white;
        }

        .material-icons,.link-text{
          display: block;
        }

        >.material-icons:first-child{
          float: left;
          padding-left: 10px;
          padding-right: 10px;
        }

        .link-text{
          float: left;
          margin-top: 5px;
        }

        &>.material-icons:last-child{
          float: right;
        }

        .material-icons{
          font-size: 2em;
        }
      }
    }




    .dropdown{
      background-color: #fff;
      overflow: hidden;
      display: none;
      animation: slideIn .5s;
      .material-icons{
        float: left !important;
      }

    }

    .show{
      display: block !important;
      animation: slideIn .5s;
    }

    .hide{
      animation: slideOut .5s;
    }



    @keyframes slideIn {
      0%{
        transform: scaleY(0) translateX(-100%);

      }

      100%{
        transform: scaleY(1) translateX(0%);
      }
    }

    @keyframes slideOut {

      0%{

        transform: scaleY(1) translateX(0%);

      }

      100%{
        transform: scaleY(0) translateX(-100%);
        display: none !important;
      }
    }
  }

}


/* Main section */

main{
  margin-left: 270px;

  //.modal-overlay{
  //  z-index: 50000 !important;
  //}
}

.page-header{

  .card-panel{
    padding-top: 13px;

    .title{

      color: $accent-color;
      font-size: 1.5em;
    }
  }

  .breadcrumbs{
    display: flex;

    .breadcrumb-item{
      font-size: 1em;
      color: $accent-color;
    }

    .breadcrumb-item:last-child a{
      line-height: 0;
      color: $secondary-text-color;
    }

    .breadcrumb-item::before{
      content: "\E5CC";
      font-family: 'Material Icons';
      margin: 0 !important;
      top: 4px !important;
      position: relative;
      line-height: 0px;
      font-size: 1.2em;
      -webkit-font-smoothing: antialiased;
      color: $secondary-text-color;
    }

     .breadcrumb-item:first-child::before{
     content: " ";
     }
  }
}


.page-content{
  padding: 0 20px;

  .input-section{
    display: none;

    .multiple-select-dropdown{
      z-index:10000;
    }
  }

  .near-loading{
    margin-top:0 !important;
  }


  .progress{
      background-color:lighten($accent-color,40%);
      margin: 0;
      .indeterminate {
        background-color:$accent-color;
    }
  }

  


  .active{
    display: block;
  }

  table.new-report-table{
    td,th{
      border:1px solid rgba(0,0,0,0.12);
      padding: 5px;
    }



    .table-field{
      cursor: text;
      label{
        display: block;
        cursor: text;
      }

      input{
        width: 100%;
        border: none;
        outline: none;
        display: none;
      }
    }
  }

  table.med-report-table{
    td,th{
      border:1px solid rgba(0,0,0,0.12);;
      padding: 0 !important;
    }

    td,th{
      text-align: center;
      span{

      }
    }

    td:first-child{
      text-align: left;
    }
  }
  .test-checkbox{
    padding-right: 20px;
    [type="checkbox"] + span:not(.lever){
      padding-left: 25px;
    }
  }





  .report-wrapper{
    .card-panel{
      margin-top: 0;
    }
    }


}


.view-report-table{
  td,th{
    border:1px solid rgba(0,0,0,0.12);
    vertical-align:top;
  }


  .no-border{
  border: unset !important;
}

}










/*
 *   POP UP CSS
 */
.mt-notif {
  margin: 10px 0px;
  padding: 12px;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  opacity: 1;
  position: relative;
}

.mt-cont {
  width: 250px;
  position: fixed;
  color: white;
  top: 20px;
  right: 20px;
  z-index:50000
}

.mt-notif p {
  margin: 0px;
  font-size: 16px;
}

.mt-notif p:first-child {
  font-weight: bold;
}

.mt-success {
  background-color: $color-success;
}

.mt-default {
  color: #222;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  background-color: $color-default;
}

.mt-info {
  background-color: $color-info;
}

.mt-error {
  background-color: $color-error;
}

.mt-warning {
  background-color: $color-warning;
}

/*
 *   ANIMATION OPTIONS : slide-fade (SLIDE AND FADE IN AND OUT)
 *   Finer control will be to add an animation for in and out. Using anim delay and the js value to determine when out is played.
 *   This is over complicating things though.... so maybe a next release
 */

.mt-slide-fade {
  animation-name: slide-fader;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes slide-fader {
  0% {
    opacity: 0;
    left: 30px;
  }
  10% {
    opacity: 1;
    left: 0px;
  }
  90% {
    opacity: 1;
    left: 0px;
  }
  100% {
    opacity: 0;
    left: 30px;
  }
}

/*
 *   MOBILE CSS : NEED TO WORK ON THIS SOME MORE
 */

@media (max-width: 500px) {

  .mt-cont {
    width: 98%;
    position: fixed;
    color: white;
    bottom: 0px;
    left: 1%;
  }
  .mt-notif {
    margin: 10px 0px 0px 0px;
    padding: 12px;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: none;
    opacity: 1;
    position: relative;
  }

}


.print{
  display: none !important;
}


.print-only-row{
  display:none;
}


@page { size: auto;  margin: 0mm; }

/**
Styling For Print

*/

@media print {

  .sidebar,.fixed-action-btn{
    display: none;
  }

  .print-only-row{
    display: table-row !important;
  }

  .card-panel{
    box-shadow: none;
    padding:0;
    margin:0;
  }

  header{
    display: none;
  }

  main{
    margin-left: 0;
  }

  .app-title{
    display: none;
  }

  .view-report-table{
    margin-top: 1px;
    margin-bottom: 20px;
    table{
      th,td{
        padding: 0;
        padding-left: 5px;
        padding-right: 5px;

        font-size: 12px;
      
        border-color: lighten(black,40%) !important;
        border: solid 0.05em;
        color: black;
        font-family:sans-serif;

        label{
          font-size:9px !important;
          color: black !important;
        }
      }


      .test-title{
        font-size:20px;
      }
    }

    .material-icons{
      font-size: 10px;
    }
  }

 .print {
    display: block !important;
  }

  .print-footer{
    p{
       color: black;
        font-family:Arial;
    }
  }


  .medical-microb{
    strong{
      font-weight:bolder;
    }
    p{
      font-size:10px;
      margin:2px;
      padding:0;
      line-height:15px;
    }

    h6{
      font-size:10px;
    }


    .widal-tbl,.hpf{
      td,th{
        font-size:10px;
      }
    }

    .culture{

     td,th{
       font-size:10px;
     }
    }

  }

}