@import "palette";
$background-color:#e6e6e6;


body,html{
  background: $background-color;
  font-family: 'Roboto', sans-serif;
}

/*header section */
header{
  margin-left: 280px;

  nav{
    background: $primary-color;
    height: 80px;
  }

  .toggle{
    line-height: 90px;
    background: transparent;
    border: none;
    outline: none;
    color: $primary-color-text;


   i{
     font-size: 2.2em;
     line-height:80px;
   }
  }
}

/* Master sidebar */
.sidebar{
  position: fixed;
  width: 280px;
  height: 100%;
  top: 0;
  z-index: 5000;


  .brand{
    background: $primary-color-dark;
    padding: 18px 10px;

    a{
      font-size: 2.2em;
      color: $primary-color-text;
      padding: 0 !important;
      margin: 0 !important;
      line-height: 0;

    }

    p{
      color: $primary-color-text;
      margin: 0 !important;
      padding: 0 !important;

    }
  }
  .sidebar-body{
    height: 100%;
    width: 100%;
    background: url("images/lab_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
    top: 0;
    margin: 0;

  }
  .sidebar-time{
    background: white;
    text-align: center;
    padding: 35px 0;
    border-bottom: solid 1px $divider-color;

    .time{
      margin: 0 !important;
      padding: 0!important;
      font-size: 4em;
      line-height: 30px;
      color: $secondary-text-color;
      font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .date{
      font-size: .9em;
      color: $secondary-text-color;
    }

  }
  .overlay{
    background: transparentize(white,.1);
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 8px;
    }


    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      background-color: $divider-color;
      padding: 5px 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 50px;
      transition:  1s;

    }

    &::-webkit-scrollbar-thumb:hover {
      transition:  1s;
      background: $primary-color;
    }

    .waves-effect{
      display: block !important;
    }

  }

  .sidebar-nav{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 5000;




    .links{
      padding-left: 10px;
      padding-right: 10px;

      padding-bottom: 300px;

      .active{
        background: white;
      }
     a{
        color: darken($secondary-text-color,20%);
        padding: 20px 10px;
        overflow: hidden;
        display: block;
        transition: background .5s;

        &:hover{
          background: white;
        }

        .material-icons,.link-text{
          display: block;
        }

        >.material-icons:first-child{
            float: left;
            padding-left: 10px;
            padding-right: 10px;
        }

        .link-text{
          float: left;
          margin-top: 5px;
        }

       &>.material-icons:last-child{
         float: right;
        }

        .material-icons{
          font-size: 2em;
        }
      }
    }




    .dropdown{
      background-color: #fff;
      overflow: hidden;
      display: none;
      animation: slideIn .5s;
      .material-icons{
        float: left !important;
      }

    }

    .show{
      display: block !important;
      animation: slideIn .5s;
    }

    .hide{
      animation: slideOut .5s;
    }



    @keyframes slideIn {
      0%{
        transform: scaleY(0) translateX(-100%);

      }

      100%{
        transform: scaleY(1) translateX(0%);
      }
    }

    @keyframes slideOut {

      0%{

        transform: scaleY(1) translateX(0%);

      }

      100%{
        transform: scaleY(0) translateX(-100%);
        display: none !important;
      }
    }
  }

}


/* Main section */

main{
  margin-left: 270px;
  height: 200vh;
}

.page-header{

  .card-panel{
    padding-top: 13px;

    .title{

      color: $accent-color;
      font-size: 1.5em;
    }
  }

  .breadcrumbs{
    display: flex;

    .breadcrumb-item{
      font-size: 1em;
      color: $accent-color;
    }

  .breadcrumb-item:last-child a{
    line-height: 0;
    color: $secondary-text-color;
  }

    .breadcrumb-item:last-child::before{
      content: "\E5CC";
      font-family: 'Material Icons';
      margin: 0 !important;
      top: 4px !important;
      position: relative;
      line-height: 0px;
      font-size: 1.2em;
      -webkit-font-smoothing: antialiased;
      color: $secondary-text-color;
    }
  }
}


.page-content{
  padding: 0 20px;

  table.new-report-table{
    td,th{
      border:1px solid rgba(0,0,0,0.12);;
    }
  }
}

.customer-info{
  //display: none;
}