<div class="card-panel report-panel near-loading">
	<form [formGroup]="chemPathForm">
		<section [ngClass]="{'active':activePane===0}" class="input-section animated fadeIn">
			<h5 class="card-title">Basic Test information</h5>
			<div class="row">
				<div class="col m4">
					<div class="input-field">
						 <select (change)="onPatientSelected($event)" class="validate"  formControlName="patient_id" required>
						 	<option value="" ></option>
						 	
						     <option value="new">Add new patient</option>
						     <option disabled *ngIf="loadingPatients">Loading patients please wait</option>
						     <option value="retry"  *ngIf="errorOccurred" >An error occurred, click here to retry loading patients</option>
							 <option *ngFor="let patient of patients" value="{{patient.id}}">{{patient.first_name+' '+patient.middle_name+' '+patient.surname }}</option>}
							option
					    </select>
    					<label>Select patient</label>
					</div>
				</div>
				<div class="col m4">
					<div class="input-field">
						<input type="text" id="requested-by" formControlName="requested_by" class="validate" required>
						<label for="requested-by">Requested By</label>
					</div>
				</div>
				<div class="col m4">
					<div class="input-field">
						<input type="text" id="clinical-detail" formControlName="clinical_detail">
						<label for="clinical-detail">Clinical Detail</label>
					</div>
				</div>
				<div class="col m4">
					<div class="input-field">
						<input type="text" id="exam-required" formControlName="exam_required">
						<label for="exam-required">Exam Required</label>
					</div>
				</div>
				<div class="col m4">
					<div class="input-field">
						<input type="text" id="specimen" formControlName="specimen">
						<label for="specimen">Specimen</label>
					</div>
				</div>
				<div class="col m4">
					<div class="input-field">
						<input type="text" id="clinic" formControlName="clinic">
						<label for="clinic">Clinic</label>
					</div>
				</div>
			</div>
		</section>
		<section [ngClass]="{'active':activePane===1}" class="input-section animated fadeIn">
                    <h6>LIPID PROFILE</h6>
                    <div class="row">
                        <div class="col m4">
                            <div class="input-field">
                                <input type="text" id="cholesterol" formControlName="total_cholesterol">
                                <label for="cholesterol">Total cholesterol(0 - 5.2 mmo1/L)</label>
                            </div>
                        </div>
                        <div class="col m4">
                            <div class="input-field">
                                <input type="text" id="triglyceride" formControlName="triglyceride">
                                <label for="triglyceride">Triglyceride(0-2.3mm01/L)</label>
                            </div>
                        </div>
                        <div class="col m4">
                            <div class="input-field">
                                <input type="text" id="hdlm" formControlName="hdlm">
                                <label for="hdlm">HDLM (>0.9mmo1/L) f(>1.5mm01/L)</label>
                            </div>
                        </div>
                        <div class="col m4">
                            <div class="input-field">
                                <input type="text" id="vldl" formControlName="vldl">
                                <label for="vldl">VLDL(0.5-0.60mmo1/L)</label>
                            </div>
                        </div>
                        <div class="col m4">
                            <div class="input-field">
                                <input type="text" id="ldl" formControlName="ldl">
                                <label for="ldl">LDL (0 - 4.11mm01/ml)</label>
                            </div>
                        </div>
                        <div class="col m4">
                            <div class="input-field">
                                <input type="text" id="eucr" formControlName="eucr">
                                <label for="eucr">E/U/Cr</label>
                            </div>
                        </div>
                        <div class="col m4">
                            <div class="input-field" >
                                <input type="text" id="creatinene" formControlName="creatinine">
                                <label for="creatinene">Creatinene(58-110um01/L)</label>
                            </div>
                        </div>
                        <div class="col m4">
                            <div class="input-field">
                                <input type="text" id="urea" formControlName="urea">
                                <label for="urea">Urea(2.8 - 7.2mm01/L)</label>
                            </div>
                        </div>
                        <div class="col m4">
                            <div class="input-field">
                                <input type="text" id="sodium" formControlName="sodium">
                                <label for="sodium">Sodium(132 - 145mmo1/L)</label>
                            </div>
                        </div>
                        <div class="col m4">
                            <div class="input-field">
                                <input type="text" id="potassium" formControlName="potassium">
                                <label for="potassium">Potassium(3.2 - 5.0 mmo1/L)</label>
                            </div>
                        </div>
                        <div class="col m4">
                            <div class="input-field">
                                <input type="text" id="chloride" formControlName="chloride">
                                <label for="chloride">Chloride(96 - 108mmo1/L)</label>
                            </div>
                        </div>
                        <div class="col m4">
                            <div class="input-field">
                                <input type="text" id="bicarbonate" formControlName="bicarbonate">
                                <label for="bicarbonate">Bicarbonate(22 - 88mmo1/L)</label>
                            </div>
                        </div>
                    </div>
        </section>
        <section [ngClass]="{'active':activePane===2}" class="input-section animated fadeIn">
                    <h6>Hormonal Profile</h6>
                    <div class="row">
                        <div class="col m4">
                            <div class="input-field">
                                <input type="text" id="fsh" formControlName="fsh">
                                <label for="fsh">FSH</label>
                            </div>
                        </div>
                        <div class="col m4">
                            <div class="input-field">
                                <input type="text" id="lh" formControlName="lh">
                                <label for="lh">LH</label>
                            </div>
                        </div>
                        <div class="col m4">
                            <div class="input-field">
                                <input type="text" id="prolactin" formControlName="prolactin">
                                <label for="prolactin">Prolactin</label>
                            </div>
                        </div>
                        <div class="col m4">
                            <div class="input-field">
                                <input type="text" id="progesterone" formControlName="progesteron">
                                <label for="progesterone">Progesterone</label>
                            </div>
                        </div>
                        <div class="col m4">
                            <div class="input-field">
                                <input type="text" id="estradiol" formControlName="estradol">
                                <label for="estradiol">Estradiol</label>
                            </div>
                        </div>
                        <div class="col m4">
                            <div class="input-field">
                                <input type="text" id="psa" formControlName="psa">
                                <label for="psa">PSA (0-4ng/ml)</label>
                            </div>
                        </div>
                    </div>
        </section>
        <section [ngClass]="{'active':activePane===3}" class="input-section animated fadeIn">
                    <h6>Liver function Test</h6>
                    <div class="row">
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="ast" formControlName="ast">
                                <label for="ast">AST (0 - 35U/L)</label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="alt" formControlName="alt">
                                <label for="alt">ALT M(0 - 45U/L)F(0-34U/L)</label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="alp" formControlName="alp">
                                <label for="alp">ALP (30 - 120 U/L)</label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="bilirubin" formControlName="bilirubin">
                                <label for="bilirubin">Bilirubin(Tot) (2 - 21 umo1/L)</label>
                            </div>
                        </div>
                        <div class="col m4">
                            <div class="input-field">
                                <input type="text" id="conbilirubin" formControlName="conj_bilirubin">
                                <label for="conbilirubin">Conj. Bilirubin(Tot) (0 - 5.2 umo1/L)</label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="total-protein" formControlName="total_protein">
                                <label for="total-protein">Total Protein (66 - 83g/dl)</label>
                            </div>
                        </div>
                        <div class="col m2">
                            <div class="input-field">
                                <input type="text" id="albunim" formControlName="albunim">
                                <label for="albunim">Albunim (35 - 53g/dl)</label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="globulin" formControlName="globulin">
                                <label for="globulin">Globuline (18 - 36g/dl)</label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="glucose" formControlName="glucose">
                                <label for="glucose">Glucose</label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="rbs" formControlName="rbs">
                                <label for="rbs">RBS (3.8 - 8.0 mmo1/L)</label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="fbs" formControlName="fbs">
                                <label for="fbs">FBS (3.8 - 8.0 mmo1/L)</label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="2hrs" formControlName="hrs2ppbs">
                                <label for="2hrs">2HRS. PPBS (3.0 - 5.5 mmo1/L)</label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="amylase" formControlName="amylase">
                                <label for="amylase">Amylase (up to 4001U/L)</label>
                            </div>
                        </div>
                        <div class="col m2">
                            <div class="input-field">
                                <input type="text" id="cpk" formControlName="cpk">
                                <label for="cpk">CPK (0-130iu/L)</label>
                            </div>
                        </div>
                        <div class="col m4">
                            <div class="input-field">
                                <input type="text" id="gamma" formControlName="gamma_glutamic">
                                <label for="gamma">Gamma Glutamic Acid (M<49F>32)</label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="uric-acid" formControlName="uric_acid">
                                <label for="uric-acid">Uric Acid</label>
                                <span class="helper-text">Male (214-488umo1/L) Female (137-365umo1/L)</span>
                            </div>
                        </div>
                        <div class="col m4">
                            <div class="input-field">
                                <input type="text" id="calcium" formControlName="calcium">
                                <label for="calcium">Calcium (2.2 - 2.6 mmo1/L)</label>
                            </div>
                        </div>
                        <div class="col m4">
                            <div class="input-field" >
                                <input type="text" id="inorganic-phos" formControlName="inorganic_phos">
                                <label for="inorganic-phos">Inorganic Phos (0.96 - 1.44 mmo1/L)</label>
                            </div>
                        </div>
                        <div class="col m4">
                            <div class="input-field">
                                <input type="text" id="tsh" formControlName="tsh">
                                <label for="tsh">TSH </label>
                            </div>
                        </div>
                    </div>
        </section>
        <section [ngClass]="{'active':activePane===4}" class="input-section animated fadeIn">
                    <h6>Urinalysis</h6>
                    <div class="row">
                        <div class="col m2">
                            <div class="input-field">
                                <input type="text" id="appearance" formControlName="appearance">
                                <label for="appearance">Appearance</label>
                            </div>
                        </div>
                        <div class="col m2">
                            <div class="input-field">
                                <input type="text" id="ph" formControlName="ph">
                                <label for="ph">PH</label>
                            </div>
                        </div>
                        <div class="col m2">
                            <div class="input-field">
                                <input type="text" id="protein" formControlName="protein">
                                <label for="protein">Protein</label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="ketone" formControlName="ketone_bodies">
                                <label for="ketone">Ketone Bodies</label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="bilirubin-u" formControlName="ur_bilirubin">
                                <label for="bilirubin-u">Bilibrubin</label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="nitric" formControlName="nitric">
                                <label for="nitric">Nitric</label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="ascorbic" formControlName="ascorbic">
                                <label for="ascorbic">Ascorbic</label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="leucocytes" formControlName="leucocytes">
                                <label for="leucocytes">Leucocytes</label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="gravity" formControlName="specific_gravity">
                                <label for="gravity">Specific gravity</label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="glucose-u" formControlName="ur_glucose">
                                <label for="glucose-u">Glucose</label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="urobilinogen" formControlName="urobilinogen">
                                <label for="urobilinogen">Urobilinogen</label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="blood" formControlName="blood">
                                <label for="blood">Blood</label>
                            </div>
                        </div>
                        <div class="col m3">
                            <div class="input-field">
                                <input type="text" id="crystal" formControlName="crystals">
                                <label for="crystal">Crystal</label>
                            </div>
                        </div>
                    </div>
        </section >
	</form>
</div>
 <div class="action-buttons">
    <div class="row">
      <div class="col s1">
        <button (click)="prevPane()"  *ngIf="showPrevBtn" type="button" class="btn btn-large waves-effect">Previous</button>
      </div>
      <div class="col offset-s8 s3">
        <button type="button" *ngIf="showNextBtn" class="btn btn-large waves-effect" id="next-btn" (click)="nextPane()" >Next</button>
          <button type="button" *ngIf="showSave" class="btn btn-large waves-effect" [disabled]="saving"  (click)="handleSubmit($event)" >{{saveBtnText}}</button>
      </div>

    </div>
  </div>