<app-title-panel title="All Patients">
	<li class="breadcrumb-item"><a [routerLink]="['/dashboard']" >Dashboard</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/patients']">All Patients</a> </li>
</app-title-panel>
<div class="page-content">
	
	<connection-error [show]="conError" [retryCb]="getPatients"></connection-error>
	<server-error [show]="serverError" [retryCb]="getPatients"></server-error>
	<app-loading [showLoading]="loading" loadingInfo="Loading patients records please wait" ></app-loading>
	<no-record [show]='matDatasource.data.length==0 && !loading && !conError && !serverError'>There currently no patient record</no-record>
	<app-linear-loading  [showLoading]="deleting"></app-linear-loading>
	<div class="card-panel near-loading" *ngIf="!loading && !conError && !serverError && matDatasource.data.length!==0">
		<div class="row">
                <div class="col m4 offset-m8">
                    <div class="input-field">
                        <input type="text" id="filter" (keyup)="filterTable($event.target.value)">
                        <label for="filter">Filter</label>
                    </div>
                </div>
            </div>

			<table mat-table [dataSource]="matDatasource" matSort *ngIf="matDatasource.data.length!==0">
				 <ng-container matColumnDef="id">
		            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
		            <td mat-cell *matCellDef="let patient"> {{patient.id}} </td>
		         </ng-container>
		         <ng-container matColumnDef="firstName">
		            <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
		            <td mat-cell *matCellDef="let patient"> {{patient.first_name }} </td>
		         </ng-container>
		         <ng-container matColumnDef="middleName">
		            <th mat-header-cell *matHeaderCellDef mat-sort-header> Middle Name </th>
		            <td mat-cell *matCellDef="let patient"> {{patient.middle_name}} </td>
		         </ng-container>
		         <ng-container matColumnDef="surname">
		            <th mat-header-cell *matHeaderCellDef mat-sort-header> Surname </th>
		            <td mat-cell *matCellDef="let patient"> {{patient.surname}} </td>
		         </ng-container>
		         <ng-container matColumnDef="age">
		            <th mat-header-cell *matHeaderCellDef mat-sort-header> Age </th>
		            <td mat-cell *matCellDef="let patient"> {{patient.age}} </td>
		         </ng-container>

		         <ng-container matColumnDef="phone_no">
		            <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone No. </th>
		            <td mat-cell *matCellDef="let patient"> {{patient.phone_no}} </td>
		         </ng-container>

		         <ng-container matColumnDef="email">
		            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
		            <td mat-cell *matCellDef="let patient"> {{patient.email}} </td>
		         </ng-container>


		         <ng-container matColumnDef="viewTests">
		            <th mat-header-cell *matHeaderCellDef> View Logs </th>
		            <td mat-cell *matCellDef="let patient"> <a [routerLink]="['/patient/log/'+patient.id]" class="">View Log</a> </td>
		           
		         </ng-container>
		         <ng-container matColumnDef="edit">
		            <th mat-header-cell *matHeaderCellDef> Edit </th>
		            <td mat-cell *matCellDef="let patient"> <a [routerLink]="['/patient/edit/'+patient.id]" class="btn green accent-3"><i class="material-icons">edit</i></a> </td>
		         </ng-container>

		         <ng-container matColumnDef="delete">
		            <th mat-header-cell *matHeaderCellDef> Delete </th>
		            <td mat-cell *matCellDef="let patient"> <button (click)="deletePatient(patient.id,i)" [disabled]="deleting" class="btn red accent-3"><i class="material-icons">delete</i></button> </td>
		         </ng-container>
 
		          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
		          <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
	        
			</table>
			<mat-paginator [pageSize]="10" 
                            [pageSizeOptions]="[5, 10, 20]" 
                            showFirstLastButtons
                            *ngIf="matDatasource.data.length!==0"
                            >
                           
        	 </mat-paginator>
	</div>

	
	
</div>