<app-title-panel title="Settings">
	<li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Dashboard</a></li>
	<li class="breadcrumb-item"><a [routerLink]="['/settings']">Settings</a> </li>
</app-title-panel>
<div class="page-content">

	<app-linear-loading  [showLoading]="loading"></app-linear-loading>
	<div class="card-panel near-loading">
		<form (submit)="updateSettings($event)">
			
			<div class="lab-info">
				<h5>Labaoratory Information</h5>
				<hr/> 
				<div class="">
					<div class="row">
						<div class="col m3">
							<div class="upload center-align">
								<input type="file" name="logo" (change)="onImageSelected($event)" #uploadInput style="display:none" accept="image/*">
								<button type="button" class="waves-effect btn-block  waves-light btn" (click)="showFileDialog()"  #uploadBtn><i class="material-icons left">file_upload</i>Upload Logo</button>
							</div>
							<div class="logo center-align z-depth-2">
								<img #logoView width="100px" [src]="logoUrl" >
							</div>
						</div>

						<div class="col m9">
							
							<div class="row">
								<div class="col m6">
									<div class="input-field">
										<input type="text" name="lab-name" id="lab-name" [formControl]="labName">
										<label for="lab-name"  >Laboratory Name</label>
									</div>
								</div>

								<div class="col m6">
									<div class="input-field">
										<input type="text" name="sub-name" [formControl]="subName"  id="lab-tagline" >
										<label for="lab-tagline">Laboratory sub name</label>
									</div>
								</div>
								<div class="col m6">
									<div class="input-field">
										<input type="text" name="phone-no"  id="phone_no" [formControl]="phoneNo" >
										<label for="phone-no">Phone Numbers</label>
										<span class="helper-text">Comma separated if more than one</span>
									</div>
								</div>

								<div class="col m6">
									<div class="input-field">
										<input type="text" name="email"  id="email" [formControl]="email" >
										<label for="email">Email</label>
									</div>
								</div>

								<div class="col m12">
									<div class="input-field">
										<input type="text" name="address"  id="lab-address" [formControl]="labAddress">
										<label for="lab-address">Laboratory Address</label>
									</div>
								</div>

							</div>
						</div>

						
						
					</div>
				</div>
			</div>
			<div class="app-setting">
				<h5>App Settings</h5>
				<hr/>
				<div class="row">
					<div class="col m4">
						<div>
							<div class="input-field">
								<select name="after-save-action" [formControl]="saveAction">
									<option  disabled selected>Choose your option</option>
									<option [value]="afterSaveAction.EMAIL_PATIENT">Email Patient report</option>
									<option [value]="afterSaveAction.SMS_PATIENT">Notify Patient Via SMS </option>
									<option [value]="afterSaveAction.EMAIL_AND_SMS_PATIENT">Email and SMS Patient</option>
									<option [value]="afterSaveAction.ALWAYS_ASK">Always Ask</option>
									<option [value]="afterSaveAction.DO_NOTHING">Do nothing</option>
								</select>
								<label>What Should Happen when Report is Saved?</label>
							</div>
						</div>
					</div>
					<div class="col m4 offset-m4">
						<button class="btn btn-large waves-effect waves-light" [disabled]="loading">Update Settings</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>